ZamDbTec/Schemas/External/dbZamDliverPlanEmbarques_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbZamDliverPlanEmbarques" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbZamDliverPlanEmbarques" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="VBitacoraBlacZamCollection" type="VBitacoraBlacZamCollection"/>
   <xs:complexType name="VBitacoraBlacZamCollection">
      <xs:sequence>
         <xs:element name="VBitacoraBlacZam" type="VBitacoraBlacZam" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VBitacoraBlacZam">
      <xs:sequence>
         <xs:element name="noViaje" type="xs:int"/>
         <xs:element name="fechaViaje" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="operadorNombre" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="operadorTelefono" type="string17" minOccurs="0" nillable="true"/>
         <xs:element name="tractorEco" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="origen" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="descRuta" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="destino" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fechaCita" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbZamDliverPlanEmbarquesSelect_fechaViajeInputParameters" type="dbZamDliverPlanEmbarquesSelect_fechaViaje"/>
   <xs:complexType name="dbZamDliverPlanEmbarquesSelect_fechaViaje">
      <xs:sequence>
         <xs:element name="fechaViaje" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string17">
      <xs:restriction base="xs:string">
         <xs:maxLength value="17"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>