DEV_ERPIntegrationServiceTec/WSDL/Externals/Cloud/Customers/erpRefFindCustomerAccount.wsdl

<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/applicationModule/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/applicationModule/types/"
     xmlns:ns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount/types"
     xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount"
    >
    <plnk:partnerLinkType name="findCustomerAccount_plt">
        <plnk:role name="findCustomerAccount_role">
            <plnk:portType name="ns1:erpRefFindCustomerAccountPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" xmlns:sdoJava="commonj.sdo/java"
             xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" sdoJava:package="oracle.jbo.service.errors">
            <xs:complexType name="ServiceMessage">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="message" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="severity" type="string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ServiceMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ServiceErrorMessage" type="tns:ServiceErrorMessage"/>
            <xs:complexType name="ServiceErrorMessage">
                <xs:complexContent>
                    <xs:extension base="tns:ServiceMessage">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="sdoObject" type="anyType"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="exceptionClassName" type="string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/adf/svc/types/"
             xmlns:sdoJava="commonj.sdo/java" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:sdoXML="commonj.sdo/xml" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
             xmlns:sdo="commonj.sdo" sdoJava:package="oracle.jbo.common.service.types">
            <xs:import namespace="http://xmlns.oracle.com/adf/svc/errors/"/>
            <!--xsd:simpleType name="dateTime-Timestamp" sdoJava:instanceClass="java.sql.Timestamp">
                <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
            <xsd:simpleType name="date-Date" sdoJava:instanceClass="java.sql.Date">
                <xsd:restriction base="xsd:date"/>
            </xsd:simpleType>
            <xsd:complexType name="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="errors:ServiceMessage"/>
                </xsd:sequence>
            </xsd:complexType-->
            <xsd:element name="findCriteria" type="FindCriteria"/>
    <xsd:complexType name="FindCriteria">
        <xsd:sequence>
            <xsd:element default="0" name="fetchStart" type="xsd:int"/>
            <xsd:element default="-1" name="fetchSize" type="xsd:int"/>
            <xsd:element minOccurs="0" name="filter" type="ViewCriteria"/>
            <xsd:element minOccurs="0" name="sortOrder" type="SortOrder"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="findAttribute" type="xsd:string"/>
            <xsd:element default="false" name="excludeAttribute" type="xsd:boolean"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="childFindCriteria" type="ChildFindCriteria"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ViewCriteria">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="conjunction" type="Conjunction"/>
            <xsd:element maxOccurs="unbounded" name="group" type="ViewCriteriaRow"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="nested" type="ViewCriteria"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ViewCriteriaRow">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="conjunction" type="Conjunction"/>
            <xsd:element default="false" name="upperCaseCompare" type="xsd:boolean"/>
            <xsd:element maxOccurs="unbounded" name="item" type="ViewCriteriaItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ViewCriteriaItem">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="conjunction" type="Conjunction"/>
            <xsd:element default="false" name="upperCaseCompare" type="xsd:boolean"/>
            <xsd:element name="attribute" type="xsd:string"/>
            <xsd:element name="operator" type="xsd:string"/>
            <xsd:choice>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:anySimpleType"/>
                <xsd:element name="nested" type="ViewCriteria"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Conjunction" sdoJava:instanceClass="java.lang.String">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="And"/>
            <xsd:enumeration value="Or"/>
            <xsd:enumeration value="Not"/>
            <xsd:enumeration value="AndNot"/>
            <xsd:enumeration value="OrNot"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="SortOrder">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="sortAttribute" type="SortAttribute"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SortAttribute">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element default="false" name="descending" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChildFindCriteria">
        <xsd:complexContent>
            <xsd:extension base="FindCriteria">
                <xsd:sequence>
                    <xsd:element name="childAttrName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="ChangeOperation" sdoJava:instanceClass="java.lang.String">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Create"/>
            <xsd:enumeration value="Update"/>
            <xsd:enumeration value="Merge"/>
            <xsd:enumeration value="Delete"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="findControl" type="FindControl"/>
    <xsd:complexType name="FindControl">
        <xsd:sequence>
            <xsd:element default="false" name="retrieveAllTranslations" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="processControl" type="ProcessControl"/>
    <xsd:complexType name="ProcessControl">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="returnMode" type="ReturnMode"/>
            <xsd:element minOccurs="0" name="exceptionReturnMode" type="ReturnMode"/>
            <xsd:element default="false" name="partialFailureAllowed" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ReturnMode" sdoJava:instanceClass="java.lang.String">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Full"/>
            <xsd:enumeration value="Key"/>
            <xsd:enumeration value="None"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="base64Binary-DataHandler" sdoJava:instanceClass="javax.activation.DataHandler">
        <xsd:restriction base="xsd:base64Binary"/>
    </xsd:simpleType>
    <xsd:simpleType name="dateTime-Timestamp" sdoJava:instanceClass="java.sql.Timestamp">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="time-Time" sdoJava:instanceClass="java.sql.Time">
        <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
    <xsd:simpleType name="date-Date" sdoJava:instanceClass="java.sql.Date">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:complexType name="AmountType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currencyCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="MeasureType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="MethodResult">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="errors:ServiceMessage"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BigDecimalResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BigIntegerResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BooleanResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ByteResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:byte"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BytesResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:hexBinary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TimestampResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:dateTime" sdoXML:dataType="dateTime-Timestamp"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TimeResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:time" sdoXML:dataType="time-Time"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DateResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:date" sdoXML:dataType="date-Date"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DoubleResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:double"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FloatResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:float"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IntegerResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LongResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ShortResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:short"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="StringResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DataHandlerResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="base64Binary-DataHandler"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DataObjectResult">
        <xsd:complexContent>
            <xsd:extension base="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:anyType" sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ObjAttrHints">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="objHint" type="CtrlHint"/>
            <xsd:element maxOccurs="unbounded" name="attrHints" type="AttrCtrlHints"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AttrCtrlHints">
        <xsd:sequence>
            <xsd:element name="attrName" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="ctrlHint" type="CtrlHint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CtrlHint">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:anySimpleType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServiceViewInfo">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="typeName" type="xsd:string"/>
            <xsd:element default="false" minOccurs="0" name="canCreate" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="canUpdate" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="canMerge" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="canDelete" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctSiteInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustAcctSiteId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustAcctSiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSiteUse/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSiteUse/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctSiteUseInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>SiteUseId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="SiteUseId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContact/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContact/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctContactInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustAccountRoleId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustAccountRoleId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContactRole/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContactRole/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctContactRoleInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>ResponsibilityId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ResponsibilityId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="SourceSystemRefInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>OrigSystemRefId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrigSystemRefId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" elementFormDefault="qualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml"
             xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"
             xmlns:sdo="commonj.sdo" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService">
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"/>
            <xs:import namespace="http://xmlns.oracle.com/adf/svc/types/"/>
            <xsd:complexType name="OriginalSystemReference">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>OrigSystemReferenceId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrigSystemReferenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="OrigSystem" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OwnerTableName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OwnerTableId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ReasonCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OldOrigSystemReference" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PartyId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="SourceSystemRefInformation" type="ns1:SourceSystemRefInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustAccountId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountRel/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountRel/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="CustAcctRelationshpInformation">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustAcctRelateId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustAcctRelateId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/"
             xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.apps.cdm.foundation.parties.customerAccountService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
             xmlns:sdoXML="commonj.sdo/xml" xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/"
             xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
             xmlns:sdo="commonj.sdo" xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContact/"
             xmlns:ns4="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContactRole/"
             xmlns:ns5="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountRel/"
             xmlns:ns6="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/"
             xmlns:ns7="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSiteUse/">
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSiteUse/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountRel/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContact/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"/>
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountContactRole/"/>
            <xs:import namespace="http://xmlns.oracle.com/adf/svc/types/"/>
            <xsd:complexType name="CustomerAccount">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustomerAccountId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustomerAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="AccountNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustomerType" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustomerClassCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TaxCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TaxHeaderLevelFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="TaxRoundingRule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CoterminateDayMonth" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="AccountEstablishedDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="AccountTerminationDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="HeldBillExpirationDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="HoldBillFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="AccountName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DepositRefundMethod" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="NpaNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SourceCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DateTypePreference" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ArrivalsetsIncludeLinesFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="StatusUpdateDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="AutopayFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="LastBatchId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SellingPartyId" nillable="true" type="xsd:long"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountContact" type="CustomerAccountContact"
                         sdoXML:dataType="sdo:DataObject"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountRelationship"
                         type="CustomerAccountRelationship"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountSite" type="CustomerAccountSite"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference"
                         type="ns1:OriginalSystemReference"/>
                    <xsd:element minOccurs="0" name="CustAcctInformation" type="ns2:CustAcctInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountContact">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustomerAccountRoleId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustomerAccountRoleId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="CustomerAccountSiteId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="RoleType" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="SourceCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="ContactPersonId" nillable="true" type="xsd:long"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountContactRole"
                         type="CustomerAccountContactRole" sdoXML:dataType="sdo:DataObject"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference"
                         type="ns1:OriginalSystemReference"/>
                    <xsd:element minOccurs="0" name="CustAcctContactInformation" type="ns3:CustAcctContactInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountContactRole">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>ResponsibilityId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ResponsibilityId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="CustomerAccountRoleId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="ResponsibilityType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="StatusCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustAcctContactRoleInformation" type="ns4:CustAcctContactRoleInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountRelationship">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustomerAccountRelateId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustomerAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="RelatedCustomerAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RelationshipType" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="CustomerReciprocalFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BillToFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="ShipToFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="StartDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustomerAccountRelateId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="SetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="SetCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustAcctRelationshipInformation" type="ns5:CustAcctRelationshpInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountSite">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>CustomerAccountSiteId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CustomerAccountSiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="CustomerAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="PartySiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BillToIndicator" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MarketIndicator" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ShipToIndicator" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustomerCategoryCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="KeyAccountFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="TpHeaderId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="EceTpLocationCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TranslatedCustomerName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="StartDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="SetCode" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountContact" type="CustomerAccountContact"
                         sdoXML:dataType="sdo:DataObject"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountSiteUse" type="CustomerAccountSiteUse"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference"
                         type="ns1:OriginalSystemReference"/>
                    <xsd:element minOccurs="0" name="CustAcctSiteInformation" type="ns6:CustAcctSiteInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountSiteUse">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>SiteUseId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="SiteUseId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="CustomerAccountSiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
                    <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SiteUseCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Location" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BillToSiteUseId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SICCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PaymentTermId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="GSAIndicator" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TerritoryId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="TaxReference" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SortPriority" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="TaxCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SecondLastAccrueChargeDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="LastAccrueChargeDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="LastUnaccrueChargeDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="SecondLastUnaccrueChrgDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="TaxHeaderLevelFlag" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="FinchrgReceivablesTrxId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="TaxRoundingRule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TaxClassification" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="StartDate" type="ns0:date-Date"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference"
                         type="ns1:OriginalSystemReference"/>
                    <xsd:element minOccurs="0" name="CustAcctSiteUseInformation" type="ns7:CustAcctSiteUseInformation"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerAccountResult">
                <xsd:complexContent>
                    <xsd:extension base="ns0:MethodResult">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="CustomerAccount"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount/types"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount/types"
             xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/"
             xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/"
             xmlns:tns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpRefFindCustomerAccount/types">
            <xs:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/"/>
            <xs:element name="findCustomerAccount" type="tns0:findCustomerAccountType"/>
            <xs:complexType name="findCustomerAccountType">
                <xs:sequence>
                    <xs:element name="findCriteria" type="ns1:FindCriteria"/>
                    <xs:element name="findControl" type="ns1:FindControl"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="findCustomerAccountResponse" type="tns0:findCustomerAccountResponseType"/>
            <xs:complexType name="findCustomerAccountResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="ns2:CustomerAccountResult" name="result"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findCustomerAccountRequestMessage">
        <wsdl:part name="parameters" element="ns0:findCustomerAccount"/>
    </wsdl:message>
    <wsdl:message name="findCustomerAccountResponseMessage">
        <wsdl:part name="parameters" element="ns0:findCustomerAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part name="parameters" element="errors:ServiceErrorMessage"/>
    </wsdl:message>
    <wsdl:portType name="erpRefFindCustomerAccountPortType">
        <wsdl:operation name="findCustomerAccount">
            <cloud:CloudOperation xmlns:cloud="http://xml.oracle.com/types" targetOperation="findCustomerAccount"/>
            <wsdl:input message="ns1:findCustomerAccountRequestMessage"/>
            <wsdl:output message="ns1:findCustomerAccountResponseMessage"/>
            <wsdl:fault name="ServiceException" message="ns1:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>