INER_FinancialsTec/Schemas/External/dbaUpdateCustomerSites_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaUpdateShipSites" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaUpdateShipSites" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerArCustomerShipSitesVCollection" type="XxerArCustomerShipSitesVCollection"/>
   <xs:complexType name="XxerArCustomerShipSitesVCollection">
      <xs:sequence>
         <xs:element name="XxerArCustomerShipSitesV" type="XxerArCustomerShipSitesV" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerArCustomerShipSitesV">
      <xs:sequence>
         <xs:element name="customerSiteId" type="xs:decimal" nillable="true"/>
         <xs:element name="siteId" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="replicationInd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="replicationMsg" type="string120" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>