INER_ERPIntegrationServiceTec/WSDL/Externals/Cloud/Receipt/erpCreateApplyReceipt.wsdl

<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/types/"
     xmlns:ns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt/types"
     xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt"
    >
    <plnk:partnerLinkType name="createApplyReceipt_plt">
        <plnk:role name="createApplyReceipt_role">
            <plnk:portType name="ns1:erpCreateApplyReceiptPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" xmlns:sdoJava="commonj.sdo/java"
             xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" sdoJava:package="oracle.jbo.service.errors">
            <xs:complexType name="ServiceMessage">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="message" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="severity" type="string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ServiceMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ServiceErrorMessage" type="tns:ServiceErrorMessage"/>
            <xs:complexType name="ServiceErrorMessage">
                <xs:complexContent>
                    <xs:extension base="tns:ServiceMessage">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="sdoObject" type="anyType"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="exceptionClassName" type="string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/adf/svc/types/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
             xmlns:sdo="commonj.sdo" sdoJava:package="oracle.jbo.common.service.types">
            <xs:import namespace="http://xmlns.oracle.com/adf/svc/errors/"/>
            <xsd:complexType name="AmountType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:decimal">
                        <xsd:attribute name="currencyCode" type="xsd:normalizedString" use="optional"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="date-Date" sdoJava:instanceClass="java.sql.Date">
                <xsd:restriction base="xsd:date"/>
            </xsd:simpleType>
            <xsd:complexType name="MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="errors:ServiceMessage"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyReceiptDff/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyReceiptDff/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
             xmlns:sdoXML="commonj.sdo/xml">
            <xsd:complexType name="ReceivableApplicationFLEX">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>ReceivableApplicationId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ReceivableApplicationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
                    <xsd:element minOccurs="0" name="listoParaTimbre" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="listoParaTimbre_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="reProceso" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="reProceso_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/"
             xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
             xmlns:sdoXML="commonj.sdo/xml" xmlns:ns1="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyReceiptDff/"
             xmlns:sdo="commonj.sdo">
            <xs:import namespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyReceiptDff/"/>
            <xs:import namespace="http://xmlns.oracle.com/adf/svc/types/"/>
            <xsd:complexType name="ApplyReceipt">
                <xsd:annotation>
                    <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                            <xsd:attribute>ReceivableApplicationId</xsd:attribute>
                        </key>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="AmountApplied" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ReceiptId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CustomerTrxId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="Discount" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="Instalment" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TransactionNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ReceiptAmount" nillable="true" type="ns0:AmountType"/>
                    <xsd:element minOccurs="0" name="ReceiptDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="CustomerName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TransactionDate" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="TransactionSource" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="AmountReceiptCurrency" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ReceiptCurrency" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ExchangeRate" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ApplicationDate" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="AccountingDate" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="ApplyClosedInvoices" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="InstalmentId" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="ReceivableApplicationFLEXVA" type="ns1:ReceivableApplicationFLEX"
                         sdoXML:dataType="sdo:DataObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ApplyReceiptResult">
                <xsd:complexContent>
                    <xsd:extension base="ns0:MethodResult">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="ApplyReceipt"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt/types"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt/types"
             xmlns:ns2="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/"
             xmlns:tns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCreateApplyReceipt/types">
            <xs:import namespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/"/>
            <xs:element name="createApplyReceipt" type="tns0:createApplyReceiptType"/>
            <xs:complexType name="createApplyReceiptType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="ns2:ApplyReceipt" name="applyReceipt"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createApplyReceiptResponse" type="tns0:createApplyReceiptResponseType"/>
            <xs:complexType name="createApplyReceiptResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="ns2:ApplyReceiptResult" name="result"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createApplyReceiptRequestMessage">
        <wsdl:part name="parameters" element="ns0:createApplyReceipt"/>
    </wsdl:message>
    <wsdl:message name="createApplyReceiptResponseMessage">
        <wsdl:part name="parameters" element="ns0:createApplyReceiptResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part name="parameters" element="errors:ServiceErrorMessage"/>
    </wsdl:message>
    <wsdl:portType name="erpCreateApplyReceiptPortType">
        <wsdl:operation name="createApplyReceipt">
            <cloud:CloudOperation xmlns:cloud="http://xml.oracle.com/types" targetOperation="createApplyReceipt"/>
            <wsdl:input message="ns1:createApplyReceiptRequestMessage"/>
            <wsdl:output message="ns1:createApplyReceiptResponseMessage"/>
            <wsdl:fault name="ServiceException" message="ns1:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>