INER_ERPIntegrationServiceTec/Schemas/Modules/Cloud/JournalImport/GlInterfaceTransHeader.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/journals/desktopEntry/journalImportService/" sdoJava:package="oracle.apps.financials.generalLedger.journals.desktopEntry.journalImportService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/financials/generalLedger/journals/desktopEntry/journalImportService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation>Journal Header SDO</xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="../Commons/BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="../Commons/sdoJava.xsd"/>
    <xsd:include schemaLocation="GlInterface.xsd"/>
    <xsd:complexType name="GlInterfaceTransHeader">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>LedgerId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="BatchName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BatchDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LedgerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="AccountingPeriodName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccountingDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="UserSourceName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserCategoryName" nillable="true" type="xsd:string"/>
            <xsd:element default="false" minOccurs="0" name="ErrorToSuspenseFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element default="false" minOccurs="0" name="SummaryFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element default="N" minOccurs="0" name="ImportDescriptiveFlexField" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlInterface" type="GlInterface"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="glInterfaceTransHeader" type="GlInterfaceTransHeader"/>
</xsd:schema>