DigitalStampGERTec/WSDLs/DigitalStampGERTec.wsdl

<wsdl:definitions name="DigitalStampTec" targetNamespace="http://soa.estrellaroja.com.mx/DigitalStampGERTec" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.estrellaroja.com.mx/DigitalStampGERTec" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this process.
        You can define or import any XML Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <wsdl:types>
    <xsd:schema targetNamespace="http://soa.estrellaroja.com.mx/DigitalStampTec/types" elementFormDefault="qualified">
      <xsd:import schemaLocation="../Schemas/DigitalStampGERTec.xsd" namespace="http://soa.estrellaroja.com.mx/DigitalStampGERTec"/>
    </xsd:schema>
  </wsdl:types>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  STARTS MESSAGE QueryRemittances  -->
  <!--********************************* STARTS DigitalStampTec *********************************-->
  <wsdl:message name="createTrxCFDIRq">
    <wsdl:part name="createTrxCFDIRq" element="tns:createTrxCFDIRq"/>
  </wsdl:message>
  <wsdl:message name="createTrxCFDIRs">
    <wsdl:part name="createTrxCFDIRs" element="tns:createTrxCFDIRs"/>
  </wsdl:message>
    <wsdl:message name="consultaCFDIRq">
    <wsdl:part name="consultaCFDIRq" element="tns:consultaCFDIRq"/>
  </wsdl:message>
  <wsdl:message name="consultaCFDIRs">
    <wsdl:part name="consultaCFDIRs" element="tns:consultaCFDIRs"/>
  </wsdl:message>
      <wsdl:message name="GetCFDIFileRq">
    <wsdl:part name="GetCFDIFileRq" element="tns:GetCFDIFileRq"/>
  </wsdl:message>
  <wsdl:message name="GetCFDIFileRs">
    <wsdl:part name="GetCFDIFileRs" element="tns:GetCFDIFileRs"/>
  </wsdl:message>
  <!--  ENDS MESSAGE DigitalStampTec  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <wsdl:portType name="DigitalStampGERTecPortType">
    <!--  ENDS PORTTYPE OPERATION createCFDI  -->
    <wsdl:operation name="createTrxCFDI">
      <wsdl:input message="tns:createTrxCFDIRq"/>
      <wsdl:output message="tns:createTrxCFDIRs"/>
    </wsdl:operation>
        <wsdl:operation name="consultaCFDI">
      <wsdl:input message="tns:consultaCFDIRq"/>
      <wsdl:output message="tns:consultaCFDIRs"/>
    </wsdl:operation>
            <wsdl:operation name="GetCFDIFile">
      <wsdl:input message="tns:GetCFDIFileRq"/>
      <wsdl:output message="tns:GetCFDIFileRs"/>
    </wsdl:operation>
  </wsdl:portType>
  <!--  *********************************** BINDING OPERATIONS DEFINITIONS ***********************************  -->
  <wsdl:binding name="DigitalStampGERTecBinding" type="tns:DigitalStampGERTecPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createTrxCFDI">
      <soap12:operation style="document" soapAction="http://soa.estrellaroja.com.mx/DigitalStampGERTec/createTrxCFDI"/>
      <wsdl:input>
        <soap12:body use="literal" parts="createTrxCFDIRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="createTrxCFDIRs"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="consultaCFDI">
      <soap12:operation style="document" soapAction="http://soa.estrellaroja.com.mx/DigitalStampGERTec/consultaCFDI"/>
      <wsdl:input>
        <soap12:body use="literal" parts="consultaCFDIRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="consultaCFDIRs"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCFDIFile">
          <soap12:operation style="document" soapAction="http://soa.estrellaroja.com.mx/DigitalStampGERTec/GetCFDIFile"/>
      <wsdl:input>
        <soap12:body use="literal" parts="GetCFDIFileRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="GetCFDIFileRs"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>