CustomerEnt/Schemas/CustomerBiz.xsd

<xsd:schema targetNamespace="http://soa.estrellaroja.com.mx/CustomerBiz" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.estrellaroja.com.mx/CustomerBiz" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
  <xsd:import schemaLocation="Commons/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
  <!--  ********************************************* ELEMENTS *********************************************  -->
  <xsd:element name="SyncCustomersRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SyncCustomersRs" type="tns:SyncCustomersRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateSiteRq" type="tns:CreateSiteRqType">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateSiteRs" type="tns:CreateSiteRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateCustomerRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CustomerData" type="tns:CustomerType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateCustomerRs" type="tns:CustomersRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UpdateCustomerRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CustomerData" type="tns:CustomerType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateCustomerRs" type="tns:CustomersRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateOrgsCacheRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateOrgsCacheRs" type="tns:CreateOrgsCacheRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CreateSitesRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PartyId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CustomerId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CustomerType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateSitesRs" type="tns:CreateSitesRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UpdateSitesRq">
    <xsd:annotation>
      <xsd:documentation>Element for Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CustomerId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="PartyId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="PartyType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateSitesRs" type="tns:UpdateSiesRsType">
    <xsd:annotation>
      <xsd:documentation>Element for Response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!--  ********************************************* TYPES *********************************************  -->
  <xsd:complexType name="SyncCustomersRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" minOccurs="0" type="tns:SyncCustomersReturnType" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateSiesRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" type="tns:OperationRsType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomersRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" minOccurs="0" maxOccurs="1" type="tns:OperationRsType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreateOrgsCacheRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" minOccurs="0" type="tns:OperationRsType" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreateSitesRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" minOccurs="0" type="tns:OperationRsType" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SyncCustomersReturnType">
    <xsd:sequence>
      <xsd:element name="CreateResult" type="tns:OperationRsType"/>
      <xsd:element name="UpdateResult" type="tns:OperationRsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="varString" type="xsd:string"/>
  <!-- ***********+ Clientes ***********+ -->
  <xsd:complexType name="CustomerType">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Name" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="LastName" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="FiscalCode" type="xsd:string" nillable="true"/>
        <xsd:element name="DunsNumber" type="xsd:string" nillable="true"/>
      </xsd:choice>
      <xsd:element name="AccountName" type="xsd:string" nillable="true"/>
      <xsd:element name="CustomerType" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="AccountId" type="xsd:long" minOccurs="0" nillable="true"/>
      <xsd:element name="replicationInd" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="replicationMsg" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="PartyId" type="xsd:string" nillable="true"/>
      <xsd:element name="ProfileId" type="xsd:string" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperationRsType">
    <xsd:sequence>
      <xsd:element name="OperationName" default="SyncCustomers" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="Estaus" default="Success" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="SuccessRecordCount" default="0" type="xsd:integer" maxOccurs="1"/>
      <xsd:element name="ErrorRecordCount" default="0" type="xsd:integer" maxOccurs="1"/>
      <xsd:element name="TotalRecordCount" default="0" type="xsd:integer" maxOccurs="1"/>
      <xsd:element name="ResultKeyId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Errors" type="tns:RecordErrorsType" maxOccurs="1"/>
      <xsd:element name="NestedOperation" type="tns:OperationRsType" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecordErrorsType">
    <xsd:sequence>
      <xsd:element name="RecordError" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="cmn:ErrorType">
              <xsd:sequence>
                <xsd:element name="RecordKey" type="xsd:string"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCountryCodeRqType">
    <xsd:sequence>
      <xsd:element name="CountryName" default="Mexico" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCountryCodeRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:sequence>
          <xsd:element name="Return">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="CountryCode" default="MX" type="xsd:string" maxOccurs="1"/>
                <xsd:element name="CountryISOCode" default="MEX" type="xsd:string" maxOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetOrgSetIdRqType">
    <xsd:sequence>
      <xsd:element name="OrgSetCode" default="MEXICO SET" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetOrgSetIdRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:sequence>
          <xsd:element name="Return">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="OrgSetId" default="0000000000" type="xsd:string" maxOccurs="1"/>
                <xsd:element name="OrgSetCode" default="MEXICO SET" type="xsd:string" maxOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GetCountryCodeRq" type="tns:GetCountryCodeRqType"/>
  <xsd:complexType name="CreateSiteRqType">
    <xsd:sequence>
      <xsd:element name="Site" type="tns:SiteType" minOccurs="1" maxOccurs="1" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SiteCollection">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Site" type="tns:SiteType" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CreateSiteRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:sequence>
          <xsd:element name="Return" type="tns:SiteReturnType" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SiteReturnType">
    <xsd:sequence>
      <xsd:element name="PartyId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PartySiteId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SiteName" type="xsd:string" nillable="true"/>
      <xsd:element name="SiteUse" minOccurs="1" maxOccurs="2" nillable="false">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SiteUseCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="SiteUseCodeId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SiteType">
    <xsd:sequence>
      <xsd:element name="PartyId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PrimaryBillToSiteUseId" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="CustomerPartyType" type="tns:PartyType" nillable="false" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SiteName" type="xsd:string" nillable="true"/>
      <xsd:element name="SiteDescription" type="xsd:string" nillable="true"/>
      <xsd:element name="AccountAddressSet" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="LegacyCustomerSiteId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="StreetName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExternalNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="InternalNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="PostalCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Province" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="County" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Country" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SiteUseCode" type="tns:SiteUseCodeType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CreatedDate" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultMessageType">
    <xsd:complexContent>
      <xsd:extension base="cmn:ErrorType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CustSiteData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CustomerAccountId" maxOccurs="1" type="xsd:long"/>
        <xsd:element name="SetId" maxOccurs="1" type="xsd:long"/>
        <xsd:element name="PartySiteId" maxOccurs="1" type="xsd:long"/>
        <xsd:element name="SiteUseCode" maxOccurs="1" type="xsd:string"/>
        <xsd:element name="PartyId" maxOccurs="1" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="SiteUseCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BILL_TO"/>
      <xsd:enumeration value="SHIP_TO"/>
      <xsd:enumeration value="BILL_TO/SHIP_TO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PartyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PERSON"/>
      <xsd:enumeration value="ORGANIZATION"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>