INERDEV_ERPIntegrationServiceTec/Schemas/Modules/Cloud/WorkOrderMaterialTransaction/TransactionLotInput.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrderMaterialTransactions/materialTransactionsService/" sdoJava:package="oracle.apps.scm.commonWorkExecution.workOrderMaterialTransactions.materialTransactionsService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/scm/commonWorkExecution/workOrderMaterialTransactions/materialTransactionsService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Material Transaction Lot Details</name>
            <description>Import Material Transactions</description>
            <oer:category name="lbo">
                <value>SCM-SCM : WIE-Common Work Execution :
                    ORA_WO_MATERIAL_TRANSACTION-Work Order Material Transaction</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The user specified lot number to which the material is issued from or returned to." name="LotNumber"/>
                <oer:attribute description="The transacted lot quantity of the component for the work order." name="TransactionQuantity"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="../Commons/BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="../Commons/sdoJava.xsd"/>
    <xsd:complexType name="TransactionLotInput">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>HeaderNumber</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="LotNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TransactionQuantity" nillable="true" type="ns0:MeasureType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="transactionLotInput" type="TransactionLotInput"/>
</xsd:schema>