INERDEV_ERPIntegrationServiceTec/Schemas/Modules/Cloud/Receipt/XMLSchema_711564180.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Receivables Standard Receipt Unapplication SDO</name>
            <description>Receipt Activity Unapplication</description>
            <oer:attributes>
                <oer:attribute description="Cash receipt number." name="ReceiptNumber"/>
                <oer:attribute description="Identifies the receivable application." name="ReceivableApplicationId"/>
                <oer:attribute description="GL date payment entry reversed." name="ReversalGlDate"/>
                <oer:attribute description="A unit of an enterprise that performs one or more business functions that can be rolled up in a management hierarchy." name="BusinessUnit"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="XMLSchema_469750432.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="XMLSchema_-1644098047.xsd"/>
    <xsd:complexType name="ActivityUnapplication">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>CashReceiptId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReceivableApplicationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ReversalGlDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ActivityUnapplicationResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="ActivityUnapplication"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="activityUnapplication" type="ActivityUnapplication"/>
    <xsd:element name="activityUnapplicationResult" type="ActivityUnapplicationResult"/>
</xsd:schema>