INERDEV_ERPIntegrationServiceTec/WSDL/Externals/Cloud/InvoicesAP/erpCancelInvoice.wsdl

<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/apps/financials/payables/invoices/transactions/invoiceService/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/financials/payables/invoices/transactions/invoiceService/types/"
     xmlns:ns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice/types"
     xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice"
    >
    <plnk:partnerLinkType name="cancelInvoice_plt">
        <plnk:role name="cancelInvoice_role">
            <plnk:portType name="ns1:erpCancelInvoicePortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" xmlns:sdoJava="commonj.sdo/java"
             xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" sdoJava:package="oracle.jbo.service.errors">
            <xs:element name="ServiceErrorMessage" type="tns:ServiceErrorMessage"/>
            <xs:complexType name="ServiceErrorMessage">
                <xs:complexContent>
                    <xs:extension base="tns:ServiceMessage">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="sdoObject" type="anyType"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="exceptionClassName" type="string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceMessage">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="message" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="severity" type="string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ServiceMessage"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice/types"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice/types"
             xmlns:tns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpCancelInvoice/types">
            <xs:element name="cancelInvoice" type="tns0:cancelInvoiceType"/>
            <xs:complexType name="cancelInvoiceType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="businessUnitName"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="supplierName"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="supplierNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="invoiceNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="voucherNumber"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="cancelInvoiceResponse" type="tns0:cancelInvoiceResponseType"/>
            <xs:complexType name="cancelInvoiceResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="result"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="cancelInvoiceRequestMessage">
        <wsdl:part name="parameters" element="ns0:cancelInvoice"/>
    </wsdl:message>
    <wsdl:message name="cancelInvoiceResponseMessage">
        <wsdl:part name="parameters" element="ns0:cancelInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part name="parameters" element="errors:ServiceErrorMessage"/>
    </wsdl:message>
    <wsdl:portType name="erpCancelInvoicePortType">
        <wsdl:operation name="cancelInvoice">
            <cloud:CloudOperation xmlns:cloud="http://xml.oracle.com/types" targetOperation="cancelInvoice"/>
            <wsdl:input message="ns1:cancelInvoiceRequestMessage"/>
            <wsdl:output message="ns1:cancelInvoiceResponseMessage"/>
            <wsdl:fault name="ServiceException" message="ns1:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>