ERPIntegrationApiTec/WADL/ERPIntegrationAPIRest.wsdl

<wsdl:definitions name="ERPIntegrationAPIRest" targetNamespace="http://xmlns.oracle.com/GER_OSB_OCI/DEV_ERPIntegrationApiTec/ERPIntegrationAPIRest" xmlns:tns="http://xmlns.oracle.com/GER_OSB_OCI/DEV_ERPIntegrationApiTec/ERPIntegrationAPIRest" xmlns:inp1="http://www.example.org" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ERPIntegrationAPIRest">
        <plnk:role name="ERPIntegrationAPIRestProvider" portType="tns:ERPIntegrationAPIRest_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org" schemaLocation="../XSD/ERPIntegrationAPI/ERPIntegrationAPI.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Invoice_inputMessage">
        <wsdl:part name="request" element="inp1:invoiceApiRq"/>
    </wsdl:message>
    <wsdl:message name="Invoice_outputMessage">
        <wsdl:part name="reply" element="inp1:invoiceApiRs"/>
    </wsdl:message>
    <wsdl:message name="UpdateFlexMaintenanceWorkOrders_inputMessage">
        <wsdl:part name="request" element="inp1:updateFlexMaintenanceWORq"/>
    </wsdl:message>
    <wsdl:message name="UpdateFlexMaintenanceWorkOrders_outputMessage">
        <wsdl:part name="reply" element="inp1:updateFlexMaintenanceWORs"/>
    </wsdl:message>
    <wsdl:portType name="ERPIntegrationAPIRest_ptt">
        <wsdl:operation name="Invoice">
            <wsdl:input message="tns:Invoice_inputMessage"/>
            <wsdl:output message="tns:Invoice_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateFlexMaintenanceWorkOrders">
            <wsdl:input message="tns:UpdateFlexMaintenanceWorkOrders_inputMessage"/>
            <wsdl:output message="tns:UpdateFlexMaintenanceWorkOrders_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERPIntegrationAPIRest_ptt-binding" type="tns:ERPIntegrationAPIRest_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Invoice">
            <soap:operation soapAction="Invoice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateFlexMaintenanceWorkOrders">
            <soap:operation soapAction="UpdateFlexMaintenanceWorkOrders"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>