ZAMMaintenanceTec/XSD/Assets/SelectTratecsaAssetsXSD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SelectTratecsaAssets" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/SelectTratecsaAssets" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SelectTratecsaAssetsInput" type="SelectTratecsaAssetsInput"/>
   <xs:complexType name="SelectTratecsaAssetsInput">
      <xs:sequence>
         <xs:element name="idUnidad" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SelectTratecsaAssetsOutputCollection" type="SelectTratecsaAssetsOutputCollection"/>
   <xs:complexType name="SelectTratecsaAssetsOutputCollection">
      <xs:sequence>
         <xs:element name="SelectTratecsaAssetsOutput" type="SelectTratecsaAssetsOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SelectTratecsaAssetsOutput">
      <xs:sequence>
         <xs:element name="id_unidad" type="xs:string" nillable="true"/>
         <xs:element name="total_llantas" type="xs:decimal" nillable="true"/>
         <xs:element name="tipo_unidad" type="xs:decimal" nillable="true"/>
         <xs:element name="id_tipo_motor" type="xs:decimal" nillable="true"/>
         <xs:element name="id_marca_unidad" type="xs:decimal" nillable="true"/>
         <xs:element name="id_tipo_unidad" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_acumulados" type="xs:decimal" nillable="true"/>
         <xs:element name="r_f_v" type="xs:decimal" nillable="true"/>
         <xs:element name="id_centro_costo" type="xs:decimal" nillable="true"/>
         <xs:element name="llantas_extras" type="xs:decimal" nillable="true"/>
         <xs:element name="no_permiso" type="xs:decimal" nillable="true"/>
         <xs:element name="no_inciso_seguro" type="xs:decimal" nillable="true"/>
         <xs:element name="id_operador" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_servicio_ultimo" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_servicio_sig" type="xs:decimal" nillable="true"/>
         <xs:element name="id_area" type="xs:decimal" nillable="true"/>
         <xs:element name="id_depto" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_inicio_ciclo" type="xs:decimal" nillable="true"/>
         <xs:element name="secuencia_inicio" type="xs:decimal" nillable="true"/>
         <xs:element name="idcia" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_inicio_ciclo" type="xs:decimal" nillable="true"/>
         <xs:element name="no_cilindros" type="xs:decimal" nillable="true"/>
         <xs:element name="prov_carroceria" type="xs:decimal" nillable="true"/>
         <xs:element name="secuencia_ult" type="xs:decimal" nillable="true"/>
         <xs:element name="secuencia_sig" type="xs:decimal" nillable="true"/>
         <xs:element name="no_circula" type="xs:decimal" nillable="true"/>
         <xs:element name="doble_no_circula" type="xs:decimal" nillable="true"/>
         <xs:element name="id_tercero" type="xs:decimal" nillable="true"/>
         <xs:element name="id_status" type="xs:decimal" nillable="true"/>
         <xs:element name="status_comm" type="xs:decimal" nillable="true"/>
         <xs:element name="msg_pend" type="xs:decimal" nillable="true"/>
         <xs:element name="id_ruta" type="xs:decimal" nillable="true"/>
         <xs:element name="id_area_viaje" type="xs:decimal" nillable="true"/>
         <xs:element name="no_viaje" type="xs:decimal" nillable="true"/>
         <xs:element name="id_pedido" type="xs:decimal" nillable="true"/>
         <xs:element name="id_flota" type="xs:decimal" nillable="true"/>
         <xs:element name="id_origen" type="xs:decimal" nillable="true"/>
         <xs:element name="id_destino" type="xs:decimal" nillable="true"/>
         <xs:element name="id_remitente" type="xs:decimal" nillable="true"/>
         <xs:element name="id_destinatario" type="xs:decimal" nillable="true"/>
         <xs:element name="id_macro_ult" type="xs:decimal" nillable="true"/>
         <xs:element name="costo_tenencia" type="xs:decimal" nillable="true"/>
         <xs:element name="no_poliza" type="xs:decimal" nillable="true"/>
         <xs:element name="prima_neta" type="xs:decimal" nillable="true"/>
         <xs:element name="recargos" type="xs:decimal" nillable="true"/>
         <xs:element name="der_poliza" type="xs:decimal" nillable="true"/>
         <xs:element name="iva" type="xs:decimal" nillable="true"/>
         <xs:element name="costo_unidad" type="xs:decimal" nillable="true"/>
         <xs:element name="costo_carroceria" type="xs:decimal" nillable="true"/>
         <xs:element name="ultima_tenencia" type="xs:dateTime" nillable="true"/>
         <xs:element name="ultimo_refrendo" type="xs:dateTime" nillable="true"/>
         <xs:element name="ultimo_permiso" type="xs:dateTime" nillable="true"/>
         <xs:element name="vence_seguro" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_kms" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_servicio_ultimo" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_servicio_sig" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_adquisicion" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_ultima_rev" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_inicio_ciclo" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_emision" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_desde" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_hasta" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_adq_carr" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_estatus" type="xs:dateTime" nillable="true"/>
         <xs:element name="fecha_baja" type="xs:dateTime" nillable="true"/>
         <xs:element name="posdate" type="xs:dateTime" nillable="true"/>
         <xs:element name="f_real_salida" type="xs:dateTime" nillable="true"/>
         <xs:element name="f_prog_llegada" type="xs:dateTime" nillable="true"/>
         <xs:element name="f_entrada_patio" type="xs:dateTime" nillable="true"/>
         <xs:element name="f_mismapos" type="xs:dateTime" nillable="true"/>
         <xs:element name="TEA" type="xs:dateTime" nillable="true"/>
         <xs:element name="rendimiento_esperado" type="xs:decimal" nillable="true"/>
         <xs:element name="lts_combustible" type="xs:decimal" nillable="true"/>
         <xs:element name="lts_aceite" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_por_dia" type="xs:decimal" nillable="true"/>
         <xs:element name="dim_ancho" type="xs:decimal" nillable="true"/>
         <xs:element name="dim_largo" type="xs:decimal" nillable="true"/>
         <xs:element name="dim_altura" type="xs:decimal" nillable="true"/>
         <xs:element name="rendimiento_aceite" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_acumuladas" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_por_dia" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_servicio_ultimo" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_servicio_sig" type="xs:decimal" nillable="true"/>
         <xs:element name="proveedor" type="xs:decimal" nillable="true"/>
         <xs:element name="peso_unidades" type="xs:decimal" nillable="true"/>
         <xs:element name="lts_relleno" type="xs:decimal" nillable="true"/>
         <xs:element name="lts_saldocomb" type="xs:decimal" nillable="true"/>
         <xs:element name="no_serie" type="xs:string" nillable="true"/>
         <xs:element name="modelo" type="xs:string" nillable="true"/>
         <xs:element name="id_ciclo_preventivo" type="xs:string" nillable="true"/>
         <xs:element name="placas" type="xs:string" nillable="true"/>
         <xs:element name="observaciones" type="xs:string" nillable="true"/>
         <xs:element name="no_economico" type="xs:string" nillable="true"/>
         <xs:element name="id_servicio_ultimo" type="xs:string" nillable="true"/>
         <xs:element name="id_servicio_sig" type="xs:string" nillable="true"/>
         <xs:element name="id_servicio_inicio" type="xs:string" nillable="true"/>
         <xs:element name="tarjeta_circulacion" type="xs:string" nillable="true"/>
         <xs:element name="no_factura" type="xs:string" nillable="true"/>
         <xs:element name="tipo_motor" type="xs:string" nillable="true"/>
         <xs:element name="potencia_motor" type="xs:string" nillable="true"/>
         <xs:element name="pulgadas_cubicas" type="xs:string" nillable="true"/>
         <xs:element name="no_motor" type="xs:string" nillable="true"/>
         <xs:element name="color" type="xs:string" nillable="true"/>
         <xs:element name="no_carroceria" type="xs:string" nillable="true"/>
         <xs:element name="obs_carroceria" type="xs:string" nillable="true"/>
         <xs:element name="fecha_vence_placas" type="xs:dateTime" nillable="true"/>
         <xs:element name="poliza" type="xs:string" nillable="true"/>
         <xs:element name="fecha_vence_tenencia" type="xs:dateTime" nillable="true"/>
         <xs:element name="status_unidad" type="xs:string" nillable="true"/>
         <xs:element name="viaje" type="xs:string" nillable="true"/>
         <xs:element name="fecha_vence_seguro" type="xs:dateTime" nillable="true"/>
         <xs:element name="id_thermo" type="xs:string" nillable="true"/>
         <xs:element name="fecha_vence_verificacion" type="xs:dateTime" nillable="true"/>
         <xs:element name="no_kit" type="xs:string" nillable="true"/>
         <xs:element name="desc_marcamotor" type="xs:string" nillable="true"/>
         <xs:element name="desc_provcarroceria" type="xs:string" nillable="true"/>
         <xs:element name="desc_provunidad" type="xs:string" nillable="true"/>
         <xs:element name="tarjeta_llave" type="xs:string" nillable="true"/>
         <xs:element name="no_tarjeta_llave" type="xs:string" nillable="true"/>
         <xs:element name="mctnumber" type="xs:string" nillable="true"/>
         <xs:element name="posicion" type="xs:string" nillable="true"/>
         <xs:element name="poslat" type="xs:decimal" nillable="true"/>
         <xs:element name="poslon" type="xs:decimal" nillable="true"/>
         <xs:element name="operador" type="xs:string" nillable="true"/>
         <xs:element name="id_unidad_as" type="xs:string" nillable="true"/>
         <xs:element name="id_remolque1" type="xs:string" nillable="true"/>
         <xs:element name="id_dolly" type="xs:string" nillable="true"/>
         <xs:element name="id_remolque2" type="xs:string" nillable="true"/>
         <xs:element name="origen" type="xs:string" nillable="true"/>
         <xs:element name="destino" type="xs:string" nillable="true"/>
         <xs:element name="id_despachador" type="xs:string" nillable="true"/>
         <xs:element name="tipo_combustible" type="xs:string" nillable="true"/>
         <xs:element name="estado" type="xs:string" nillable="true"/>
         <xs:element name="estado_adquisicion" type="xs:string" nillable="true"/>
         <xs:element name="datos_generales" type="xs:string" nillable="true"/>
         <xs:element name="tipo_moneda" type="xs:string" nillable="true"/>
         <xs:element name="forma_pago" type="xs:string" nillable="true"/>
         <xs:element name="kms_hrs" type="xs:string" nillable="true"/>
         <xs:element name="hrs_automaticas" type="xs:string" nillable="true"/>
         <xs:element name="estatus" type="xs:string" nillable="true"/>
         <xs:element name="tipo_programacion" type="xs:string" nillable="true"/>
         <xs:element name="equipo_omnitracs" type="xs:string" nillable="true"/>
         <xs:element name="tercero" type="xs:string" nillable="true"/>
         <xs:element name="causa_baja" type="xs:string" nillable="true"/>
         <xs:element name="tipo" type="xs:string" nillable="true"/>
         <xs:element name="status" type="xs:string" nillable="true"/>
         <xs:element name="status_caja1" type="xs:string" nillable="true"/>
         <xs:element name="status_caja2" type="xs:string" nillable="true"/>
         <xs:element name="en_patio" type="xs:string" nillable="true"/>
         <xs:element name="mismapos" type="xs:string" nillable="true"/>
         <xs:element name="f_status_unidad" type="xs:dateTime" nillable="true"/>
         <xs:element name="subcta" type="xs:string" nillable="true"/>
         <xs:element name="tipomacro_ult" type="xs:string" nillable="true"/>
         <xs:element name="kms_actuales" type="xs:decimal" nillable="true"/>
         <xs:element name="ruta" type="xs:string" nillable="true"/>
         <xs:element name="peso_bruto" type="xs:decimal" nillable="true"/>
         <xs:element name="fecha_instalacion" type="xs:dateTime" nillable="true"/>
         <xs:element name="kmshrsinicialaparmed" type="xs:decimal" nillable="true"/>
         <xs:element name="no_medidor" type="xs:decimal" nillable="true"/>
         <xs:element name="tipo_medida" type="xs:string" nillable="true"/>
         <xs:element name="id_operador2" type="xs:decimal" nillable="true"/>
         <xs:element name="hrs_actuales" type="xs:decimal" nillable="true"/>
         <xs:element name="id_ingreso" type="xs:string" nillable="true"/>
         <xs:element name="fecha_ingreso" type="xs:dateTime" nillable="true"/>
         <xs:element name="kms_hrs_actuales" type="xs:decimal" nillable="true"/>
         <xs:element name="fecha_disponible" type="xs:dateTime" nillable="true"/>
         <xs:element name="id_plazadestino" type="xs:decimal" nillable="true"/>
         <xs:element name="id_tipo_operacion" type="xs:decimal" nillable="true"/>
         <xs:element name="id_movimiento" type="xs:decimal" nillable="true"/>
         <xs:element name="clas_uni" type="xs:string" nillable="true"/>
         <xs:element name="cta_consumo" type="xs:string" nillable="true"/>
         <xs:element name="id_status_rem" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_id_destinatario" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_id_area_viaje" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_no_viaje" type="xs:decimal" nillable="true"/>
         <xs:element name="id_estacion" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_id_areapedido" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_id_pedido" type="xs:decimal" nillable="true"/>
         <xs:element name="origen_status" type="xs:decimal" nillable="true"/>
         <xs:element name="cargadovacio" type="xs:string" nillable="true"/>
         <xs:element name="kms_ultima_rev" type="xs:decimal" nillable="true"/>
         <xs:element name="id_transponder" type="xs:string" nillable="true"/>
         <xs:element name="num_soporte" type="xs:string" nillable="true"/>
         <xs:element name="vehunitnum" type="xs:string" nillable="true"/>
         <xs:element name="nacionalidad" type="xs:decimal" nillable="true"/>
         <xs:element name="id_localidaddestino" type="xs:decimal" nillable="true"/>
         <xs:element name="id_circuito" type="xs:decimal" nillable="true"/>
         <xs:element name="id_compania" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_arribo" type="xs:decimal" nillable="true"/>
         <xs:element name="ultimo_id_pedidopk" type="xs:decimal" nillable="true"/>
         <xs:element name="alarmasnuevas" type="xs:decimal" nillable="true"/>
         <xs:element name="mensajesnuevos" type="xs:decimal" nillable="true"/>
         <xs:element name="id_linearem1" type="xs:string" nillable="true"/>
         <xs:element name="id_linearem2" type="xs:string" nillable="true"/>
         <xs:element name="modulo" type="xs:decimal" nillable="true"/>
         <xs:element name="id_asignacion" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_actualesvale" type="xs:decimal" nillable="true"/>
         <xs:element name="kms_recorridosvale" type="xs:decimal" nillable="true"/>
         <xs:element name="modelo_unidad" type="xs:string" nillable="true"/>
         <xs:element name="madre" type="xs:string" nillable="true"/>
         <xs:element name="hija" type="xs:string" nillable="true"/>
         <xs:element name="asignado" type="xs:string" nillable="true"/>
         <xs:element name="unidad_asignado" type="xs:string" nillable="true"/>
         <xs:element name="hija_asignada" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_LOGISTICA" type="xs:dateTime" nillable="true"/>
         <xs:element name="valor_convenido" type="xs:decimal" nillable="true"/>
         <xs:element name="deducible_xrobo" type="xs:decimal" nillable="true"/>
         <xs:element name="deducible_xdmateriales" type="xs:decimal" nillable="true"/>
         <xs:element name="faset" type="xs:decimal" nillable="true"/>
         <xs:element name="jefe_flota" type="xs:decimal" nillable="true"/>
         <xs:element name="id_plazasigdestino" type="xs:decimal" nillable="true"/>
         <xs:element name="id_sector" type="xs:decimal" nillable="true"/>
         <xs:element name="id_subflota" type="xs:decimal" nillable="true"/>
         <xs:element name="EM_email" type="xs:string" nillable="true"/>
         <xs:element name="no_orsan" type="xs:string" nillable="true"/>
         <xs:element name="valida_cargacomb" type="xs:decimal" nillable="true"/>
         <xs:element name="procesado" type="xs:decimal" nillable="true"/>
         <xs:element name="disponibilidad" type="xs:decimal" nillable="true"/>
         <xs:element name="capacidad_aliado" type="xs:string" nillable="true"/>
         <xs:element name="marca_cap_eje_delantero" type="xs:string" nillable="true"/>
         <xs:element name="marca_cap_eje_trasero" type="xs:string" nillable="true"/>
         <xs:element name="marca_modelo_tipo_transmision" type="xs:string" nillable="true"/>
         <xs:element name="marca_suspension" type="xs:string" nillable="true"/>
         <xs:element name="medida_llanta" type="xs:string" nillable="true"/>
         <xs:element name="tipo_ejes" type="xs:string" nillable="true"/>
         <xs:element name="tipo_suspension" type="xs:string" nillable="true"/>
         <xs:element name="marca_aliado" type="xs:string" nillable="true"/>
         <xs:element name="ano_fabricacion" type="xs:decimal" nillable="true"/>
         <xs:element name="id_histograma_sig" type="xs:decimal" nillable="true"/>
         <xs:element name="id_histograma_ultimo" type="xs:decimal" nillable="true"/>
         <xs:element name="fecha_fin_garantia" type="xs:dateTime" nillable="true"/>
         <xs:element name="id_accion" type="xs:decimal" nillable="true"/>
         <xs:element name="id_project" type="xs:decimal" nillable="true"/>
         <xs:element name="ccosto" type="xs:decimal" nillable="true"/>
         <xs:element name="id_tipo_servicio_unidad" type="xs:decimal" nillable="true"/>
         <xs:element name="poliza2" type="xs:string" nillable="true"/>
         <xs:element name="no_inciso_seguro2" type="xs:decimal" nillable="true"/>
         <xs:element name="vence_seguro2" type="xs:dateTime" nillable="true"/>
         <xs:element name="id_aseguradora" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>