INER_ValidacionAutomaticTec/Schemas/ValidacionAutomaticTec.xsd

<xsd:schema targetNamespace="http://soa.estrellaroja.com.mx/ValidacionAutomaticTec" elementFormDefault="qualified" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/ValidacionAutomaticTec">
  <xsd:import schemaLocation="Commons/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
  <!--  ********************************************* ELEMENTS *********************************************  -->
  <xsd:element name="ValidationConsultRequest" type="PostValidationConsultRequest"/>
  <xsd:element name="ValidationConsultResponse" type="PostValidationConsultResponse"/>
  <xsd:element name="ValidationOracleXmlRequest" type="PostValidationOracleXmlRequest"/>
  <xsd:element name="ValidationOracleXmlResponse" type="PostValidationOracleXmlResponse"/>
  <xsd:element name="MergeReportValidationRequest" type="MergeReportValidationRequestType"/>
  <xsd:element name="MergeReportValidationResponse" type="MergeReportValidationResponseType"/>
  <xsd:element name="GetReportValidationRequest" type="GetReportValidationRequestType"/>
  <xsd:element name="GetReportValidationResponse" type="GetReportValidationResponseType"/>
  <!--  ********************************************* TYPES *********************************************  -->
  <xsd:complexType name="MergeReportValidationRequestType">
    <xsd:sequence>
      <xsd:element name="invoiceId" type="xsd:decimal"/>
      <xsd:element name="emisorRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receptorRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="businessUnit" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="invoiceNumber" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="supplierNumber" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="objectVersionNumber" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="numeroPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="documentoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estadoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conciliadas" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="beneficio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sitioBeneficio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaPago" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="monedaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="direccionPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="noCuentaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="proveedorParte" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sitioProveedor" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nomBancoPagador" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fecPagoBanco" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="importePagadoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="cuentaBancariaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="importPagoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombreActual" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="detalles" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tercerSegmCotable" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptoCuenCotble3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="quintoSegmContable" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptoCuenContable5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoComprobante" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaTimbrado" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="uuidRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombreEmisor" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="usoCfdi" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="subtotal" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="descuento" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="totalIeps" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="iva16" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="retenidoIva" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="retenidoIsr" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="ish" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="total" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="moneda" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoCambio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="formaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="metodoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptos" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="combustible" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="iva8" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estatusValidacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estatusValidacionDesc" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MergeReportValidationResponseType">
  <xsd:sequence>
          <xsd:element name="Return" type="cmn:BaseRsType"/>
          </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetReportValidationRequestType">
    <xsd:sequence>
      <xsd:element name="invoiceId" type="xsd:decimal"/>
      <xsd:element name="emisorRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receptorRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="businessUnit" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="invoiceNumber" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="supplierNumber" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="objectVersionNumber" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="numeroPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="documentoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estadoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conciliadas" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="beneficio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sitioBeneficio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaPago" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="monedaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="direccionPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="noCuentaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="proveedorParte" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sitioProveedor" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nomBancoPagador" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fecPagoBanco" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="importePagadoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="cuentaBancariaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="importPagoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombreActual" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="detalles" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tercerSegmCotable" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptoCuenCotble3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="quintoSegmContable" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptoCuenContable5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoComprobante" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaTimbrado" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="uuidRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombreEmisor" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="usoCfdi" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="subtotal" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="descuento" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="totalIeps" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="iva16" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="retenidoIva" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="retenidoIsr" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="ish" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="total" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="moneda" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoCambio" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="formaPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="metodoPago" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="conceptos" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="combustible" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="iva8" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estatusValidacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="estatusValidacionDesc" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetReportValidationResponseType">
    <xsd:sequence>
      <xsd:element name="Return" type="cmn:BaseRsType"/>
      <xsd:element name="XxerInvoicesApTbl" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceId" type="xsd:decimal"/>
            <xsd:element name="emisorRfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="receptorRfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="businessUnit" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="invoiceNumber" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="supplierNumber" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="attribute1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="attribute2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="attribute3" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="attribute4" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="attribute5" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="lastUpdatedBy" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="objectVersionNumber" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="numeroPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="documentoPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="estadoPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="tipoPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="conciliadas" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="beneficio" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="sitioBeneficio" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="fechaPago" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="monedaPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="direccionPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="noCuentaPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="proveedorParte" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="sitioProveedor" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="nomBancoPagador" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="fecPagoBanco" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="importePagadoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="cuentaBancariaPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="importPagoBanco" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="nombreActual" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="detalles" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="tercerSegmCotable" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="conceptoCuenCotble3" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="quintoSegmContable" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="conceptoCuenContable5" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="tipoComprobante" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="fechaTimbrado" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="tipoRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="uuidRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="nombreEmisor" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="usoCfdi" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="subtotal" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="descuento" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalIeps" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="iva16" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="retenidoIva" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="retenidoIsr" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ish" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="total" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="moneda" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="tipoCambio" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="formaPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="metodoPago" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="conceptos" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="combustible" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="iva8" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="estatusValidacion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="estatusValidacionDesc" type="xsd:string" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostValidationConsultRequest">
    <xsd:sequence>
      <xsd:element name="rfcEmisor" type="xsd:string"/>
      <xsd:element name="rfcReceptor" type="xsd:string"/>
      <xsd:element name="total" type="xsd:double"/>
      <xsd:element name="uuid" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostValidationConsultResponse">
    <xsd:sequence>
      <xsd:element name="Return" type="cmn:BaseRsType"/>
       <xsd:element name="responseCode" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="data">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="codigoEstatus" type="xsd:string"/>
                     <xsd:element name="esCancelable"/>
                     <xsd:element name="estado" type="xsd:string"/>
                     <xsd:element name="estatusCancelacion"/>
                     <xsd:element name="expresionImpresa" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostValidationOracleXmlRequest">
    <xsd:sequence>
      <xsd:element name="businessUnit" type="xsd:string"/>
      <xsd:element name="creationDate" type="xsd:string"/>
      <xsd:element name="currencyCode" type="xsd:string"/>
      <xsd:element name="details" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="amount" type="xsd:double"/>
            <xsd:element name="baseAmount" type="xsd:integer"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="itemDescription" type="xsd:string"/>
            <xsd:element name="itemId" type="xsd:integer"/>
            <xsd:element name="lineNumber" type="xsd:integer"/>
            <xsd:element name="lineSource" type="xsd:string"/>
            <xsd:element name="lineType" type="xsd:string"/>
            <xsd:element name="orderDetail">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="amount" type="xsd:integer"/>
                  <xsd:element name="codeCombination">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="id" type="xsd:integer"/>
                        <xsd:element name="segment1" type="xsd:integer"/>
                        <xsd:element name="segment2" type="xsd:integer"/>
                        <xsd:element name="segment3" type="xsd:integer"/>
                        <xsd:element name="segment4" type="xsd:integer"/>
                        <xsd:element name="segment5" type="xsd:integer"/>
                        <xsd:element name="type" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="destOrganizationId" type="xsd:integer"/>
                  <xsd:element name="discount" type="xsd:integer"/>
                  <xsd:element name="id" type="xsd:integer"/>
                  <xsd:element name="itemDescription" type="xsd:string"/>
                  <xsd:element name="itemId" type="xsd:integer"/>
                  <xsd:element name="lineTypeId" type="xsd:integer"/>
                  <xsd:element name="listPrice" type="xsd:double"/>
                  <xsd:element name="orderId" type="xsd:integer"/>
                  <xsd:element name="quantity" type="xsd:integer"/>
                  <xsd:element name="unitCode" type="xsd:string"/>
                  <xsd:element name="unitPrice" type="xsd:double"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="organizationId" type="xsd:integer"/>
            <xsd:element name="quantity" type="xsd:integer"/>
            <xsd:element name="tax" type="xsd:string"/>
            <xsd:element name="taxClassCode" type="xsd:string"/>
            <xsd:element name="taxJurisdictionCode" type="xsd:string"/>
            <xsd:element name="taxLineId" type="xsd:integer"/>
            <xsd:element name="taxRate" type="xsd:integer"/>
            <xsd:element name="taxRateCode" type="xsd:string"/>
            <xsd:element name="taxRateId" type="xsd:integer"/>
            <xsd:element name="taxRegimeCode" type="xsd:string"/>
            <xsd:element name="taxStatusCode" type="xsd:string"/>
            <xsd:element name="unitCode" type="xsd:string"/>
            <xsd:element name="unitPrice" type="xsd:double"/>
            <xsd:element name="awtGroupId" type="xsd:integer"/>
            <xsd:element name="awtGroupCode" type="xsd:integer"/>
            <xsd:element name="awtPercentageRate" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="folio" type="xsd:string"/>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="invoiceDate" type="xsd:string"/>
      <xsd:element name="lastUpdateDate" type="xsd:string"/>
      <xsd:element name="legalEntityId" type="xsd:integer"/>
      <xsd:element name="legalEntityName" type="xsd:string"/>
      <xsd:element name="legalEntityRfc" type="xsd:string"/>
      <xsd:element name="legalEntitySegment" type="xsd:integer"/>
      <xsd:element name="number" type="xsd:integer"/>
      <xsd:element name="order">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="billBuId" type="xsd:integer"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="number" type="xsd:string"/>
            <xsd:element name="supplierId" type="xsd:integer"/>
            <xsd:element name="termsId" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="organizationId" type="xsd:integer"/>
      <xsd:element name="pdfCount" type="xsd:integer"/>
      <xsd:element name="pdfFileName" type="xsd:string"/>
      <xsd:element name="serie" type="xsd:string"/>
      <xsd:element name="subtotal" type="xsd:integer"/>
      <xsd:element name="supplier">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="number" type="xsd:integer"/>
            <xsd:element name="partyId" type="xsd:integer"/>
            <xsd:element name="rfc" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="zipCode" type="xsd:integer"/>
            <xsd:element name="siteId" type="xsd:integer"/>
            <xsd:element name="siteCode" type="xsd:string"/>
            <xsd:element name="siteBusinessUnitId" type="xsd:integer"/>
            <xsd:element name="siteAwtGroupId" type="xsd:string"/>
            <xsd:element name="siteAwtGroupCode" type="xsd:string"/>
            <xsd:element name="siteAwtPercentageRate" type="xsd:double"/>
            <xsd:element name="sendMailAfterValidation" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tax" type="xsd:double"/>
      <xsd:element name="termsDescription" type="xsd:string"/>
      <xsd:element name="termsId" type="xsd:integer"/>
      <xsd:element name="termsName" type="xsd:string"/>
      <xsd:element name="total" type="xsd:double"/>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="validationStatus" type="xsd:string"/>
      <xsd:element name="xmlCount" type="xsd:integer"/>
      <xsd:element name="xmlFileName" type="xsd:string"/>
      <xsd:element name="invoiceSource" type="xsd:string"/>
      <xsd:element name="invoiceAwtGroupId" type="xsd:string"/>
      <xsd:element name="invoiceAwtGroupCode" type="xsd:string"/>
      <xsd:element name="invoiceAwtPercentageRate" type="xsd:double"/>
      <xsd:element name="approvalStatus" type="xsd:string"/>
      <xsd:element name="xmlBase64" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostValidationOracleXmlResponse">
    <xsd:sequence>
            <xsd:element name="success" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="log"/>
            <xsd:element name="mustCancel" type="xsd:string"/>
            <xsd:element name="mustModify" type="xsd:string"/>
            <xsd:element name="emailSendedToSupplier" type="xsd:string"/>
            <xsd:element name="invoiceId" type="xsd:integer"/>
            <xsd:element name="supplierEmail" type="xsd:string"/>
            <xsd:element name="oracleLookupCode" type="xsd:string"/>
      <xsd:element name="Return" type="cmn:BaseRsType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>