DEV_FinancialsTec/Schemas/External/dbaProcessedApplyReceipstBs_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaProcessedApplyReceipstBs" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaProcessedApplyReceipstBs" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_REG_APPLY_RECEIPT" type="db:XERINTUSER.XXER_AR_PROC_APP_REC_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XERINTUSER.XXER_AR_PROC_APP_REC_TYPE">
      <sequence>
         <element name="RECEIPT_APPLY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ERRORDESCRIPCION" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XERINTUSER.XXER_AR_PROC_APP_REC_TTYPE">
      <sequence>
         <element name="P_REG_APPLY_RECEIPT_ITEM" type="db:XERINTUSER.XXER_AR_PROC_APP_REC_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
</schema>