DEV_FinancialsTec/Schemas/External/dbaUpdateConciliations_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaUpdateConciliations" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaUpdateConciliations" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CONCILIATIONS" type="db:XXER_AR_CONCILIACION_TYYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XXER_AR_CONCILIACION_TYYPE">
      <sequence>
         <element name="P_CONCILIATIONS_ITEM" type="db:XXER_AR_CONCILIACION_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXER_AR_CONCILIACION_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_TRANSACTIONS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string3" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="MSJ_VALIDATION" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCE_TRANSACTIONS_ID" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCE_TRANSACTIONS" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_CONCILIACION" type="dateTime" db:type="TIMESTAMP" minOccurs="0" nillable="true"/>
         <element name="METODO_RECIBO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
</schema>