DEV_FinancialsTec/Schemas/External/dbaValidationLinesInvoiceConfig_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaValidationLinesInvoiceConfig" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaValidationLinesInvoiceConfig" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_VALIDATION_INV_LINES" type="db:XERINTUSER.XXER_AR_VALIDATION_INVOICE_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XERINTUSER.XXER_AR_VALIDATION_INVOICE_TTYPE">
      <sequence>
         <element name="P_VALIDATION_INV_LINES_ITEM" type="db:XERINTUSER.XXER_AR_VALIDATION_INVOICE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XERINTUSER.XXER_AR_VALIDATION_INVOICE_TYPE">
      <sequence>
         <element name="INVOICE_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DETAILS_ERROR" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>