DEV_FinancialsTec/Schemas/External/dbGetTransactionsReconcile_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetTransactionsReconcile" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetTransactionsReconcile" elementFormDefault="qualified">
<element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_BUSINESSUNIT" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_FROMDATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_PAYMENTREFERENCE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_TRANSACTIONS_RECONCILE" type="db:XERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TTYPE" db:index="4"
                 db:type="Array" minOccurs="0" nillable="true"/>
        <element name="P_ERROR" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_ERROR_DESC" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="XERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TYPE">
    <sequence>
      <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="RECEIPT_METHOD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="RECEIPT_METHOD_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="ORGANIZATION_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="TOLERANCE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="FREQUENCY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="RFC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="TRANSACTIONS" type="db:XERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TTYPE" db:type="Array"
               minOccurs="0" nillable="true"/>
    </sequence>
  </complexType>
  <complexType name="XERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TTYPE">
    <sequence>
      <element name="TRANSACTIONS_ITEM" type="db:XERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TYPE" db:type="Struct"
               minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </sequence>
  </complexType>
  <complexType name="XERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TTYPE">
    <sequence>
      <element name="P_TRANSACTIONS_RECONCILE_ITEM" type="db:XERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TYPE"
               db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </sequence>
  </complexType>
  <complexType name="XERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TYPE">
    <sequence>
      <element name="INVOICE_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="INVOICE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      <element name="INVOICE_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      <element name="AMOUNT_LINE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
    </sequence>
  </complexType>
  <simpleType name="string50">
    <restriction base="string">
      <maxLength value="50"/>
    </restriction>
  </simpleType>
</schema>