ERPIntegrationApiTec/WSDL/ERPIntegrationApiTec.wsdl

<wsdl:definitions name="ERPIntegrationApiTec" targetNamespace="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec" xmlns:inp1="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec/types" elementFormDefault="qualified">
      <xsd:import namespace="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec" schemaLocation="../XSD/ERPIntegrationApiTec.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="postInvoiceRqMessage">
    <wsdl:part name="request" element="inp1:postInvoiceRq"/>
  </wsdl:message>
  <wsdl:message name="postInvoiceRsMessage">
    <wsdl:part name="reply" element="inp1:postInvoiceRs"/>
  </wsdl:message>
  <wsdl:message name="updateFlexMaintenanceWORqMessage">
   <wsdl:part name="request" element="inp1:updateFlexMaintenanceWORq"/>
  </wsdl:message>
  <wsdl:message name="updateFlexMaintenanceWORsMessage">
    <wsdl:part name="reply" element="inp1:updateFlexMaintenanceWORs"/>
  </wsdl:message>
  <wsdl:portType name="postInvoicePortType">
    <wsdl:operation name="postInvoice">
      <wsdl:input message="tns:postInvoiceRqMessage"/>
      <wsdl:output message="tns:postInvoiceRsMessage"/>
    </wsdl:operation>
     <wsdl:operation name="updateFlexMaintenanceWO">
      <wsdl:input message="tns:updateFlexMaintenanceWORqMessage"/>
      <wsdl:output message="tns:updateFlexMaintenanceWORsMessage"/>
    </wsdl:operation>
  </wsdl:portType>
   
  <wsdl:binding name="postInvoicePortTypeSOAP11Binding" type="tns:postInvoicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="postInvoice">
      <soap:operation style="document" soapAction="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec/postInvoice"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="reply"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="updateFlexMaintenanceWO">
      <soap:operation style="document" soapAction="http://soa.estrellaroja.com.mx/ERPIntegrationApiTec/updateFlexMaintenanceWO"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="reply"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>