DEV_ERPIntegrationServiceTec/WSDL/Externals/Cloud/InvoicesAP/erpReleaseSingleHold.wsdl

<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/apps/financials/payables/invoices/transactions/invoiceService/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/financials/payables/invoices/transactions/invoiceService/types/"
     xmlns:ns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold/types"
     xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold"
    >
    <plnk:partnerLinkType name="releaseSingleHold_plt">
        <plnk:role name="releaseSingleHold_role">
            <plnk:portType name="ns1:erpReleaseSingleHoldPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" xmlns:sdoJava="commonj.sdo/java"
             xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" sdoJava:package="oracle.jbo.service.errors">
            <xs:element name="ServiceErrorMessage" type="tns:ServiceErrorMessage"/>
            <xs:complexType name="ServiceErrorMessage">
                <xs:complexContent>
                    <xs:extension base="tns:ServiceMessage">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="sdoObject" type="anyType"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="exceptionClassName" type="string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceMessage">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="message" type="string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="severity" type="string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="tns:ServiceMessage"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold/types"
             elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold/types"
             xmlns:tns0="http://xmlns.oracle.com/pcbpel/adapter/erp/ErpIntegrationServiceTec/ERPIntegrationServiceTec/erpReleaseSingleHold/types">
            <xs:element name="releaseSingleHold" type="tns0:releaseSingleHoldType"/>
            <xs:complexType name="releaseSingleHoldType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="businessUnitName"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="supplierName"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="supplierNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="invoiceNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="voucherNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="holdLookupCode"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="releaseLookupCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="releaseSingleHoldResponse" type="tns0:releaseSingleHoldResponseType"/>
            <xs:complexType name="releaseSingleHoldResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" type="xs:string" name="result"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="releaseSingleHoldRequestMessage">
        <wsdl:part name="parameters" element="ns0:releaseSingleHold"/>
    </wsdl:message>
    <wsdl:message name="releaseSingleHoldResponseMessage">
        <wsdl:part name="parameters" element="ns0:releaseSingleHoldResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part name="parameters" element="errors:ServiceErrorMessage"/>
    </wsdl:message>
    <wsdl:portType name="erpReleaseSingleHoldPortType">
        <wsdl:operation name="releaseSingleHold">
            <cloud:CloudOperation xmlns:cloud="http://xml.oracle.com/types" targetOperation="releaseSingleHold"/>
            <wsdl:input message="ns1:releaseSingleHoldRequestMessage"/>
            <wsdl:output message="ns1:releaseSingleHoldResponseMessage"/>
            <wsdl:fault name="ServiceException" message="ns1:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>