INER_ValidacionAutomaticTec/WSDLs/External/dbInvoicesAP.wsdl

<wsdl:definitions name="dbInvoicesAP" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GER_OSB_OCI/INERDEV_ValidacionAutomaticTec/dbInvoicesAP" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GER_OSB_OCI/INERDEV_ValidacionAutomaticTec/dbInvoicesAP" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbInvoicesAP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="dbInvoicesAP_plt">
    <plt:role name="dbInvoicesAP_role">
      <plt:portType name="tns:dbInvoicesAP_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbInvoicesAP" schemaLocation="../../Schemas/External/dbInvoicesAP_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="XxerInvoicesApTbl_msg">
        <wsdl:part name="XxerInvoicesApTbl" element="top:XxerInvoicesApTbl"/>
    </wsdl:message>
    <wsdl:message name="XxerInvoicesApTblCollection_msg">
        <wsdl:part name="XxerInvoicesApTblCollection" element="top:XxerInvoicesApTblCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbInvoicesAP_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:XxerInvoicesApTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="queryByExample">
            <wsdl:input message="tns:XxerInvoicesApTbl_msg"/>
            <wsdl:output message="tns:XxerInvoicesApTblCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>