INERDEV_AuditControlTec/Schemas/External/Audit/dbXXER_JOBS_REQUEST_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbXXER_JOBS_REQUEST" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbXXER_JOBS_REQUEST" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerJobsRequestCollection" type="XxerJobsRequestCollection"/>
   <xs:complexType name="XxerJobsRequestCollection">
      <xs:sequence>
         <xs:element name="XxerJobsRequest" type="XxerJobsRequest" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerJobsRequest">
      <xs:sequence>
         <xs:element name="integrationName" type="xs:string" nillable="true"/>
         <xs:element name="instanceNumber" type="xs:decimal" nillable="true"/>
         <xs:element name="requestUcmId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestIntId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestUcmStatus" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="requestIntStatus" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="requestStatus" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="creationdate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastupdatedate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdby" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="lastupdatedby" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="context" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbXXER_JOBS_REQUESTSelect_pInstanceNumberInputParameters" type="dbXXER_JOBS_REQUESTSelect_pInstanceNumber"/>
   <xs:complexType name="dbXXER_JOBS_REQUESTSelect_pInstanceNumber">
      <xs:sequence>
         <xs:element name="pInstanceNumber" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>