INERDEV_FinancialsTec/Schemas/External/dbaUpdateCustomers_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaUpdateCustomers" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaUpdateCustomers" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerArCustomersVCollection" type="XxerArCustomersVCollection"/>
   <xs:complexType name="XxerArCustomersVCollection">
      <xs:sequence>
         <xs:element name="XxerArCustomersV" type="XxerArCustomersV" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerArCustomersV">
      <xs:sequence>
         <xs:element name="customerId" type="xs:decimal" nillable="true"/>
         <xs:element name="replicationInd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="replicationMsg" type="string220" minOccurs="0" nillable="true"/>
         <xs:element name="accountId" type="string120" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string220">
      <xs:restriction base="xs:string">
         <xs:maxLength value="220"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>