AuditControlTec/WSDLs/External/dbaCustomerSiteLogBs.wsdl

<wsdl:definitions name="dbaCustomerSiteLogBs" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/AuditControlTec/AuditControlTec/dbaCustomerSiteLogBs" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/AuditControlTec/AuditControlTec/dbaCustomerSiteLogBs" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaCustomerSiteLogBs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="dbaCustomerSiteLogBs_plt">
    <plt:role name="dbaCustomerSiteLogBs_role">
      <plt:portType name="tns:dbaCustomerSiteLogBs_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaCustomerSiteLogBs" schemaLocation="../../Schemas/External/dbaCustomerSiteLogBs_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:XxerArCustSiteLogPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="XxerArCustSiteLogCollection_msg">
        <wsdl:part name="XxerArCustSiteLogCollection" element="top:XxerArCustSiteLogCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbaCustomerSiteLogBs_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:XxerArCustSiteLogCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:XxerArCustSiteLogCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>