ConciliationTec/Schemas/External/dbConciliation_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbConciliation" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbConciliation" elementFormDefault="qualified">
   <element name="GetConciliationsRq">
      <complexType>
         <sequence>
            <element name="P_BUSINESSUNIT" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FROMDATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PAYMENTREFERENCE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_METODO_RECIBO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="GetConciliationsRs">
      <complexType>
         <sequence>
            <element name="P_CASH_CONCILIATION" type="db:PXERINTUSER.XXER_AR_GET_CASH_CONC_TTYPE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PXERINTUSER.XXER_AR_GET_CASH_CONC_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_METHOD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_GET_CASH_CONC_TTYPE">
      <sequence>
         <element name="P_CASH_CONCILIATION_ITEM" type="db:PXERINTUSER.XXER_AR_GET_CASH_CONC_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
    <element name="ConciliationCashRq">
      <complexType>
         <sequence>
            <element name="P_CASH" type="db:PXERINTUSER.XXER_AR_CASH_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="ConciliationCashRs">
      <complexType>
         <sequence>
            <element name="P_CONCILIATION_RESULT" type="db:PXERINTUSER.XXER_AR_CONCILIACION_RESULT_TTYPE" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PXERINTUSER.XXER_AR_CASH_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_METHOD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_CONCILIACION_RESULT_TTYPE">
      <sequence>
         <element name="P_CONCILIATION_RESULT_ITEM" type="db:PXERINTUSER.XXER_AR_CONCILIACION_RESULT_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_CONCILIACION_RESULT_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_METHOD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_CASH_TTYPE">
      <sequence>
         <element name="P_CASH_ITEM" type="db:PXERINTUSER.XXER_AR_CASH_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <element name="ConciliationTransactionsRq">
      <complexType>
         <sequence>
            <element name="P_TRANSACTIONS" type="db:PXERINTUSER.XXER_AR_CONC_TRANSACTION_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="ConciliationTransactionsRs">
      <complexType>
         <sequence>
            <element name="P_CONCILIATION_RESULT" type="db:PXERINTUSER.XXER_AR_CONCILIACION_RESULT_TTYPE" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
 
   <complexType name="PXERINTUSER.XXER_AR_CONC_TRANSACTION_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_METHOD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCE_TRANSACTIONS_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCE_TRANSACTIONS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_CONC_TRANSACTION_TTYPE">
      <sequence>
         <element name="P_TRANSACTIONS_ITEM" type="db:PXERINTUSER.XXER_AR_CONC_TRANSACTION_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
</schema>