DEV_EAMWorkOrdersTec/WSDL/TransactionalWorkOrders/TransactionalWorkOrdersWSDL.wsdl

<wsdl:definitions name="TransactionalWorkOrders" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_EstrellaRoja/DEV_EAMWorkOrdersTec/TransactionalWorkOrders" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_EstrellaRoja/DEV_EAMWorkOrdersTec/TransactionalWorkOrders" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/TransactionalWorkOrders" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="TransactionalWorkOrders_plt">
    <plt:role name="TransactionalWorkOrders_role">
      <plt:portType name="tns:TransactionalWorkOrders_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/TransactionalWorkOrders" schemaLocation="../../XSD/TransactionalWorkOrders/TransactionalWorkOrdersXSD.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="TransactionalWorkOrdersSelect_inputParameters">
        <wsdl:part name="TransactionalWorkOrdersSelect_inputParameters" element="top:TransactionalWorkOrdersSelect_workOrderNumberInputParameters"/>
    </wsdl:message>
    <wsdl:message name="XxerZamWoBlksTblCollection_msg">
        <wsdl:part name="XxerZamWoBlksTblCollection" element="top:XxerZamWoBlksTblCollection"/>
    </wsdl:message>
    <wsdl:portType name="TransactionalWorkOrders_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:XxerZamWoBlksTblCollection_msg"/>
            <wsdl:output message="tns:XxerZamWoBlksTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:XxerZamWoBlksTblCollection_msg"/>
            <wsdl:output message="tns:XxerZamWoBlksTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="TransactionalWorkOrdersSelect">
            <wsdl:input message="tns:TransactionalWorkOrdersSelect_inputParameters"/>
            <wsdl:output message="tns:XxerZamWoBlksTblCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>