SftpTec/WSDLs/SftpTec.wsdl

<wsdl:definitions name="SftpTec" targetNamespace="http://soa.estrellaroja.com.mx/SftpTec" xmlns:tns="http://soa.estrellaroja.com.mx/SftpTec" xmlns:inp1="http://soa.estrellaroja.com.mx/SftpTec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://soa.estrellaroja.com.mx/SftpTec" schemaLocation="../Schemas/SftpTec.xsd"/>
    </xsd:schema>
  </wsdl:types>
 <wsdl:message name="PutFileBancoERRqM">
    <wsdl:part name="payload" element="inp1:PutFileBancoERRq"/>
  </wsdl:message>
  <wsdl:message name="PutFileBancoERRsM">
    <wsdl:part name="payload" element="inp1:PutFileBancoERRs"/>
  </wsdl:message>
    <!--<wsdl:message name="PutFileBancoTTRqM">
    <wsdl:part name="payload" element="inp1:PutFileBancoTTRq"/>
  </wsdl:message>
  <wsdl:message name="PutFileBancoTTRsM">
    <wsdl:part name="payload" element="inp1:PutFileBancoTTRs"/>
  </wsdl:message>
    <wsdl:message name="PutFileBancoCTRqM">
    <wsdl:part name="payload" element="inp1:PutFileBancoCTRq"/>
  </wsdl:message>
  <wsdl:message name="PutFileBancoCTRsM">
    <wsdl:part name="payload" element="inp1:PutFileBancoCTRs"/>
  </wsdl:message>-->
      <wsdl:message name="GetFileERRqM">
    <wsdl:part name="payload" element="inp1:GetFileERRq"/>
  </wsdl:message>
  <wsdl:message name="GetFileERRsM">
    <wsdl:part name="payload" element="inp1:GetFileERRs"/>
  </wsdl:message>
    <wsdl:message name="PutFileERRqM">
    <wsdl:part name="payload" element="inp1:PutFileERRq"/>
  </wsdl:message>
  <wsdl:message name="PutFileERRsM">
    <wsdl:part name="payload" element="inp1:PutFileERRs"/>
  </wsdl:message>
  <wsdl:message name="GetListFilesERRqM">
    <wsdl:part name="payload" element="inp1:GetListFilesERRq"/>
  </wsdl:message>
  <wsdl:message name="GetListFilesERRsM">
    <wsdl:part name="payload" element="inp1:GetListFilesERRs"/>
  </wsdl:message>

  <wsdl:portType name="SftpTec_ptt">
    <wsdl:operation name="PutFileBancoER">
      <wsdl:input message="tns:PutFileBancoERRqM"/>
      <wsdl:output message="tns:PutFileBancoERRsM"/>
    </wsdl:operation>
    <!--<wsdl:operation name="PutFileBancoTT">
      <wsdl:input message="tns:PutFileBancoTTRqM"/>
      <wsdl:output message="tns:PutFileBancoTTRsM"/>
    </wsdl:operation>
    <wsdl:operation name="PutFileBancoCT">
      <wsdl:input message="tns:PutFileBancoCTRqM"/>
      <wsdl:output message="tns:PutFileBancoCTRsM"/>
    </wsdl:operation>-->
    <wsdl:operation name="PutFileER">
      <wsdl:input message="tns:PutFileERRqM"/>
      <wsdl:output message="tns:PutFileERRsM"/>
    </wsdl:operation>
    <wsdl:operation name="GetFileER">
      <wsdl:input message="tns:GetFileERRqM"/>
      <wsdl:output message="tns:GetFileERRsM"/>
    </wsdl:operation>
    <wsdl:operation name="GetListFilesER">
      <wsdl:input message="tns:GetListFilesERRqM"/>
      <wsdl:output message="tns:GetListFilesERRsM"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SftpTec_bind" type="tns:SftpTec_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PutFileBancoER">
      <soap:operation style="document" soapAction="PutFileBancoER"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoER"/>
      </wsdl:output>
    </wsdl:operation>
     <!--<wsdl:operation name="PutFileBancoTT">
      <soap:operation style="document" soapAction="PutFileBancoTT"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoTT"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoTT"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="PutFileBancoCT">
      <soap:operation style="document" soapAction="PutFileBancoCT"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoCT"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileBancoCT"/>
      </wsdl:output>
    </wsdl:operation>-->
     <wsdl:operation name="PutFileER">
      <soap:operation style="document" soapAction="PutFileER"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/PutFileER"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="GetFileER">
      <soap:operation style="document" soapAction="GetFileER"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/GetFileER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/GetFileER"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFilesER">
      <soap:operation style="document" soapAction="GetListFilesER"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/GetListFilesER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://soa.estrellaroja.com.mx/SftpTec/GetListFilesER"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>