AuditControlTec/Schemas/External/Audit/dbXXER_Errors_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbXXER_Errors" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbXXER_Errors" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerCompositeErrorsCollection" type="XxerCompositeErrorsCollection"/>
   <xs:complexType name="XxerCompositeErrorsCollection">
      <xs:sequence>
         <xs:element name="XxerCompositeErrors" type="XxerCompositeErrors" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerCompositeErrors">
      <xs:sequence>
         <xs:element name="idError" type="xs:decimal" nillable="true"/>
         <xs:element name="codeError" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="error" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="instanceNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="payload" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="serviceName" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="operationName" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="creationdate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastupdatedate" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>