INER_AuditControlTec/Schemas/External/dbaCustomerSiteLogBs_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaCustomerSiteLogBs" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbaCustomerSiteLogBs" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerArCustSiteLogCollection" type="XxerArCustSiteLogCollection"/>
   <xs:complexType name="XxerArCustSiteLogCollection">
      <xs:sequence>
         <xs:element name="XxerArCustSiteLog" type="XxerArCustSiteLog" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerArCustSiteLog">
      <xs:sequence>
         <xs:element name="customerSiteId" type="xs:decimal" nillable="true"/>
         <xs:element name="locationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="useCode" type="xs:string" nillable="true"/>
         <xs:element name="createdDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="updatedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="partySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="custAcctSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="XxerArCustSiteLogPrimaryKey" type="XxerArCustSiteLogPrimaryKey"/>
   <xs:complexType name="XxerArCustSiteLogPrimaryKey">
      <xs:sequence>
         <xs:element name="customerSiteId" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
         <xs:element name="useCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>