INER_AuditControlTec/Schemas/External/dbaInsertArElecInvoiceErrors_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbInsertArElecInvoiceErrors" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbInsertArElecInvoiceErrors" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxerArElecInvoiceErrorsCollection" type="XxerArElecInvoiceErrorsCollection"/>
   <xs:complexType name="XxerArElecInvoiceErrorsCollection">
      <xs:sequence>
         <xs:element name="XxerArElecInvoiceErrors" type="XxerArElecInvoiceErrors" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxerArElecInvoiceErrors">
      <xs:sequence>
         <xs:element name="idError" type="xs:decimal" nillable="true"/>
         <xs:element name="customerTrxId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numeroFactura" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="tipocfd" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="payload" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="errorCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="errorDescription" type="string2500" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="string100" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="string100" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2500">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2500"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>