DigitalStampGERTec/Schemas/DigitalStampGERTec.xsd

<xsd:schema targetNamespace="http://soa.estrellaroja.com.mx/DigitalStampGERTec" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/DigitalStampGERTec" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
  <xsd:import schemaLocation="Commons/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
  <!--  ********************************************* ELEMENTS *********************************************  -->
  <xsd:element name="createTrxCFDIRq" type="createTrxCFDIRqType"/>
  <xsd:element name="createTrxCFDIRs" type="createTrxCFDIRsType"/>
  <xsd:element name="consultaCFDIRq" type="consultaCFDIRqType"/>
  <xsd:element name="consultaCFDIRs" type="consultaCFDIRsType"/>
    <xsd:element name="GetCFDIFileRq" type="GetCFDIFileRqType"/>
  <xsd:element name="GetCFDIFileRs" type="GetCFDIFileRsType"/>
  <!--  ********************************************* TYPES *********************************************  -->
  <xsd:complexType name="createTrxCFDIRqType">
    <xsd:sequence>
      <xsd:element name="invoice" type="InvoiceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceType">
    <xsd:sequence>
      <xsd:element name="transactionNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="idRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="certificateNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerStreet" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerExtNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerIntNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerColony" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerZipCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerMunicipality" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerState" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerPhone" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerCountry" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerLocality" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerReference" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchLocality" type="xsd:string" minOccurs="0"/>
      <xsd:element name="invoiceDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="invoiceType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="documentType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cancellationDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cancellationReason" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalWords" type="xsd:string" minOccurs="0"/>
      <xsd:element name="invoiceSeal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="invoiceItems" type="invoiceItemsType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="totalItems" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="localRetentionName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="localRetentionPercentage" type="xsd:double" minOccurs="0"/>
      <xsd:element name="localRetentionAmount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalVat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalStps" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalSt" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTip" type="xsd:double" minOccurs="0"/>
      <xsd:element name="retentionVat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="retentionRate" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxBase" type="xsd:double" minOccurs="0"/>
      <xsd:element name="subtotal" type="xsd:double" minOccurs="0"/>
      <xsd:element name="total" type="xsd:double" minOccurs="0"/>
      <xsd:element name="serie" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchId" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="branchNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchStreet" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchExtNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchIntNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchColony" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchZipCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchMunicipality" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchState" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchReference" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchPhone" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchCountry" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchSale" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverTaxRegime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverEmail" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverPhone" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverStreet" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverExtNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="receiverIntNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverColony" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverZipCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverMunicipality" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverState" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverCountry" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverPassport" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverCfdiUse" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receiverReference" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentMethod" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="issuerTaxRegime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currencyExchangeRate" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="paymentMethodSelect" type="xsd:string" minOccurs="0"/>
      <xsd:element name="addedPaymentMethods" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentForm" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentCondition" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentAccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="discount" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="comments" type="xsd:string" minOccurs="0"/>
      <xsd:element name="approvalNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="approvalYear" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="stampingUuid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="stampingDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="stampingCertificateNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="stampingSeal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="documentNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="discountReason" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlPdf" type="xsd:string" minOccurs="0"/>
      <xsd:element name="stampingCode" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="stampingMessage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlXml" type="xsd:string" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="service" type="xsd:string" minOccurs="0"/>
      <xsd:element name="export" type="xsd:string" minOccurs="0"/>
      <xsd:element name="typeInvoice" type="xsd:string" minOccurs="0"/>
      <xsd:element name="globalInformation" type="globalInformationType" minOccurs="0"/>
      <xsd:element name="relatedCfdi" type="relatedCfdiType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="originSystem" type="xsd:string" minOccurs="0"/>
      <xsd:element name="documentTypeDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentComplement" type="complementsType" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="addendaAdo" type="AdendaAdoType" minOccurs="0"/>
        <xsd:element name="addendaVW" type="AdendaVWType" minOccurs="0"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="complementsType">
    <xsd:sequence>
      <xsd:element name="totalPaymentsAmount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalRetentionIEPS" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalRetentionISR" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalRetentionVat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxBaseVat0" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxBaseVat16" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxBaseVat8" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxBaseVatExento" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxVat0" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxVat16" type="xsd:double" minOccurs="0"/>
      <xsd:element name="totalTaxVat8" type="xsd:double" minOccurs="0"/>
      <xsd:element name="payments" type="complementType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="invoiceItemsType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="position" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="productServiceKey" type="xsd:string" minOccurs="0"/>
      <xsd:element name="productServDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="quantity" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="discount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="vatPercentage" type="xsd:double" minOccurs="0"/>
      <xsd:element name="unit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="unitKey" type="xsd:string" minOccurs="0"/>
      <xsd:element name="unitPrice" type="xsd:double" minOccurs="0"/>
      <xsd:element name="taxBase" type="xsd:double" minOccurs="0"/>
      <xsd:element name="tax" type="xsd:string" minOccurs="0"/>
      <xsd:element name="factorType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="rateFee" type="xsd:double" minOccurs="0"/>
      <xsd:element name="stpsPercentage" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="impPercentage" type="xsd:double" minOccurs="0"/>
      <xsd:element name="retentionVatPercentage" type="xsd:double" minOccurs="0"/>
      <xsd:element name="retentionRatePercentage" type="xsd:double" minOccurs="0"/>
      <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="subtotal" type="xsd:double" minOccurs="0"/>
      <xsd:element name="vat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="stps" type="xsd:double" minOccurs="0"/>
      <xsd:element name="imp" type="xsd:double" minOccurs="0"/>
      <xsd:element name="identificationNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="retentionVat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="retentionRate" type="xsd:double" minOccurs="0"/>
      <xsd:element name="total" type="xsd:double" minOccurs="0"/>
      <xsd:element name="st" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="propertyAccount" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="references" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchSale" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taxObject" type="xsd:string" minOccurs="0"/>
      <xsd:element name="addendumInterfaceApply" type="xsd:string" minOccurs="0"/>
      <xsd:element name="addendumInterfaceType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="addendumInterfaceConcept" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customsName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customsNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customsDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idInvoice" type="xsd:integer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="complementType">
    <xsd:sequence>
      <xsd:element name="paymentDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentWay" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currencyExchange" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="operationNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="ordAccIusserRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bankName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="payerAccount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="benAccIssuerRfc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="beneficiaryAccount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentStringType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentCert" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentString" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentSeal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="version" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="relatedDocuments" type="relatedDocsType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="retainedTaxes" type="taxesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="transferredsTaxes" type="taxesType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="taxesType">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="factorType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="rateFee" type="xsd:double" minOccurs="0"/>
      <xsd:element name="tax" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taxBase" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="relatedDocsType">
    <xsd:sequence>
      <xsd:element name="documentId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="serie" type="xsd:string" minOccurs="0"/>
      <xsd:element name="folio" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currencyExchange" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="paymentMethod" type="xsd:string" minOccurs="0"/>
      <xsd:element name="partialityNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="previousBalance" type="xsd:double" minOccurs="0"/>
      <xsd:element name="paidAmount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="outstandingBalance" type="xsd:double" minOccurs="0"/>
      <xsd:element name="taxObject" type="xsd:string" minOccurs="0"/>
      <xsd:element name="retainedTaxes" type="taxesType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="transferredsTaxes" type="taxesType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="relatedCfdiType">
    <xsd:sequence>
      <xsd:element name="relationshipType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="uuids" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="globalInformationType">
    <xsd:sequence>
      <xsd:element name="periodicity" type="xsd:string" minOccurs="0"/>
      <xsd:element name="months" type="xsd:string" minOccurs="0"/>
      <xsd:element name="year" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdendaAdoType">
    <xsd:sequence>
      <xsd:element name="grupo_ado" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tipoAddenda" type="xsd:string" minOccurs="0"/>
            <xsd:element name="valor" type="xsd:integer" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdendaVWType">
    <xsd:sequence>
      <xsd:element name="psv_vw" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelaciones" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="cancelaSustituye" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="moneda" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="tipoMoneda" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="tipoCambio" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="codigoImpuesto" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="proveedor" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="correoContacto" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="origen" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="destino" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="naveReciboMaterial" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="medidas" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="pesoBruto" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="pesoNeto" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="volumen" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="numeroPiezas" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="referencias" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="referenciaProveedor" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="remision" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="numeroASN" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="unidadNegocios" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitante" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="correo" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="notas" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nota" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="archivo" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="datos" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="tipo" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="partes" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="referencias" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ordenCompra" type="xsd:string" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="notas" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nota" minOccurs="0" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="posicion" type="xsd:integer" minOccurs="0"/>
                  <xsd:element name="numeroMaterial" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="descripcionMaterial" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="cantidadMaterial" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="unidadMedida" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="precioUnitario" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="montoLinea" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="pesoBruto" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="pesoNeto" type="xsd:double" minOccurs="0"/>
                  <xsd:element name="codigoImpuesto" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="version" type="xsd:double" minOccurs="0"/>
            <xsd:element name="tipoDocumentoFiscal" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoDocumentoVWM" type="xsd:string" minOccurs="0"/>
            <xsd:element name="division" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createTrxCFDIRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:annotation>
          <xsd:documentation>Extends BaseRsType (Success and Errors nodes). Contains a node which should be used for the specific response of the corresponding service.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Return" minOccurs="0" type="createTrxCFDIReturnType" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="createTrxCFDIReturnType">
    <xsd:sequence>
      <xsd:element name="data" type="InvoiceType" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="responseCode" type="xsd:integer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaCFDIRqType">
    <xsd:sequence>
      <xsd:element name="rfcIssuer" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="rfcReceiver" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="totalAmount" type="xsd:decimal" maxOccurs="1"/>
      <xsd:element name="uuid" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaCFDIRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:sequence>
          <xsd:element name="Return" type="consultaCFDIReturnType" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="consultaCFDIReturnType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CodigoEstatus" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EsCancelable" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Estado" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EstatusCancelacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ValidacionEFOS" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="GetCFDIFileRqType">
    <xsd:sequence>
      <xsd:element name="rfc" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="uuid" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="tipoArchivo" type="xsd:string" maxOccurs="1"/>
      <xsd:element name="base64" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="GetCFDIFileRsType">
    <xsd:complexContent>
      <xsd:extension base="cmn:BaseRsType">
        <xsd:sequence>
<xsd:element name="NombreArchivo" type="xsd:string" maxOccurs="1"/>
<xsd:element name="Archivo" type="xsd:string" maxOccurs="1"/>
<xsd:element name="Error" type="xsd:string" maxOccurs="1"/>
<xsd:element name="DetalleError" type="xsd:string" maxOccurs="1"/>

</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>