FinancialsTec/Schemas/External/dbaProcessedReceiptBs_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaProcessedReceiptBs" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaProcessedReceiptBs" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_REG_RECEIPT" type="db:PXERINTUSER.XXER_AR_PROC_REC_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_REG_APPLY_RECEIPT" type="db:PXERINTUSER.XXER_AR_APPLY_RECEIPT_TTYPE" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PXERINTUSER.XXER_AR_PROCESSED_RECEIPT_TYPE">
      <sequence>
         <element name="TABLA_PUENTE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ERRORDESCRIPCION" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_APPLY_RECEIPT_TTYPE">
      <sequence>
         <element name="P_REG_APPLY_RECEIPT_ITEM" type="db:PXERINTUSER.XXER_AR_APPLY_RECEIPT_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_APPLY_RECEIPT_TYPE">
      <sequence>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_NUMBER" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_NAME" type="db:string360" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APPLICATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ACCOUNTING_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CUST_ACCOUNT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="METODO_RECIBO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_APPLY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_PROC_REC_TTYPE">
      <sequence>
         <element name="P_REG_RECEIPT_ITEM" type="db:PXERINTUSER.XXER_AR_PROCESSED_RECEIPT_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string360">
      <restriction base="string">
         <maxLength value="360"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>