FinancialsTec/Schemas/External/dbaUpdateStatusInvoice_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaUpdateStatusInvoice" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbaUpdateStatusInvoice" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_LOAD_RESULTS" type="db:PXERINTUSER.XXER_AR_PARAMS_UPD_INV_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PXERINTUSER.XXER_AR_PARAMS_UPD_INV_TYPE">
      <sequence>
         <element name="BATCH_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_NUMBER" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_PARAMS_UPD_INV_TTYPE">
      <sequence>
         <element name="P_LOAD_RESULTS_ITEM" type="db:PXERINTUSER.XXER_AR_PARAMS_UPD_INV_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>