FinancialsTec/Schemas/External/dbGetTransactionsReconcile_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetTransactionsReconcile" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetTransactionsReconcile" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_TRANSACTIONS_RECONCILE" type="db:PXERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TTYPE" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PXERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TYPE">
      <sequence>
         <element name="REFERENCE_PAYMENT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="METODO_RECIBO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTIONS" type="db:PXERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TTYPE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TYPE">
      <sequence>
         <element name="INVOICE_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVOICE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_LINE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TTYPE">
      <sequence>
         <element name="P_TRANSACTIONS_RECONCILE_ITEM" type="db:PXERINTUSER.XXER_AR_TRANSACTIONS_RECONCILE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PXERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TTYPE">
      <sequence>
         <element name="TRANSACTIONS_ITEM" type="db:PXERINTUSER.XXER_AR_TRANSACTION_RECONCILE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>