LetterPorteTec/Schemas/External/dbGetRelationsCFDIs_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetRelationsCFDIs" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/dbGetRelationsCFDIs" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_TRANSACTION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_RELATIONS_CFDIS" type="db:XXER_RELATIONS_CFDIS_TTYPE" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESC" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XXER_RELATIONS_CFDIS_TYPE">
      <sequence>
         <element name="DESCRIPCION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VT_MONTO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUCURSAL_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IMPORTE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IVA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IMPORTE_IVA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IMPORTE_RETENCION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_PRODUCTO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCIA_PRODUCTO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UNIDAD_MEDIDA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>       
         <element name="NUMERO_DOCUMENTO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TOTAL_FACTURA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UUID_INGRESO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         
         <element name="ESTATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="URL_XML_INGRESO" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="URL_PDF_INGRESO" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_INGRESO" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UUID_CP" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESTATUS_CP" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="URL_XML_CP" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="URL_PDF_CP" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_CP" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_FACTURA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_CREACION" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXER_RELATIONS_CFDIS_TTYPE">
      <sequence>
         <element name="P_RELATIONS_CFDIS_ITEM" type="db:XXER_RELATIONS_CFDIS_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
<simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>